<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Exercise "orbit"</h2>

<ol type="1">
<li>Integrate (that is, solve) the ordinary differential equation,
<pre>
y'(x) = y(x)*(1-y(x))
</pre>
from <code>x=0</code> to <code>x=3</code> with the initial condition
<code>y(0)=0.5</code>. Compare with the analytic result (should be the
logistic function).

<li><p>
Consider the equation of equatorial motion of a planet
around a star in General Relativity (in certain units),

<p><i>
u''(&phi;) + u(&phi;) = 1 + &epsilon;u(&phi;)<sup>2</sup> ,
</i>
<p>
where <i>u(&phi;) &equiv; <sup>1</sup>/<sub>r(&phi;)</sub>&nbsp;</i>, <i>r</i> is the
(reduced-circumference) radial coordinate, <i>&phi;</i> is the azimuthal angle,
<i>&epsilon;</i> is the relativistic correction (on the order of the star's Schwarzschild radius divided by the radius of the
planet's orbit), and primes denote the
derivative with respect to &phi;.
	<ol type="i">

<li><p>Integrate this equation with <i>&epsilon;</i>=0 and initial
conditions <i>u(0)</i>=1, <i>u'(0)=</i>0 : this should give a Newtonian circular
motion.

<li><p>Integrate this equation with <i>&epsilon;</i>=0 and initial
conditions <i>u(0)=</i>1, <i>u'(0)&asymp;</i>-0.5 : this should give a
Newtonian elliptical motion. Hint: <i>u'(0)</i> shouldn't bee too
large or you will lose your planet.

<li><p>Integrate this equation with <i>&epsilon;&asymp;</i>0.01
and initial conditions <i>u(0)=</i>1, <i>u'(0)&asymp;</i>-0.5 : this
should illustrate the relativistic precession of a planetary orbit.

	</ol>

<p>Hints:
	<ul>

<li>You can rewrite this second order equation as a system of
ordinary differential equations (ODE) by introducing the functions
<i>y<sub>0</sub>=u</i> and <i>y<sub>1</sub>=u'</i>, which gives the
following ODE,
<pre>
y<sub>0</sub>' = y<sub>1</sub>
y<sub>1</sub>' = 1-y<sub>0</sub>+&epsilon;*y<sub>0</sub>*y<sub>0</sub> </pre>
</pre>

<li>If you have calculated the data-file as two columns with <i>&phi;</i>
and <i>u</i>, you can plot the orbit with the following gnuplot/pyxplot
command,
<pre>plot "data" using (1/$2)*sin($1):(1/$2)*cos($1) with lines notitle 
</pre>
	</ul>

<li><p>(Optional) Phase shifts.
<p>The Schrödinger equation for the s-wave motion of a particle with mass
m= in a short-range potential V(r) with energy E=&hbar;²k²/(2m) is given as
<pre>
-u''(r) + (2m/&hbar;²)V(r)u(r) = k² u(r) ,
</pre>
where u(r) is the radial wave-function.
<p>
For positive energies the boundary condition at r=0 is u(0)=0, u'(0)=1;
and at r&rarr;&infin; u(r)=Asin(kr+&delta;(k)), where A is a constant and &delta;(k)
is the phase-shift.

<p>
Assume m=940MeV, V(r)=-50exp(-(r/1.7fm)²)MeV, &hbar;c=197.3 MeV*fm, and
calculate the phase-shifts for the energies up to 100MeV by integrating
the Schrödinger equation from r=0 to r&approx;10 and extracting the
phase-shifts by matching the integrated solution to the asymptotic form.

</ol>

