<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="problems eigen">
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<h2>Problems "GSL"</h2>

<ol type=1>
<li>Using GSL special functions and gnuplot,
reproduce the (first) illustration
plot of the
<i>Ai(x)</i> 
and
<i>Bi(x)</i> functions
from the Wikipedia article
"<a href="https://en.wikipedia.org/wiki/Airy_function">Airy functions</a>".

<li>Consider the following system of linear equations in the matrix form,
<pre>
<table style="">
<tr align=center>
<td>[<td> 6.13 <td> -2.90 <td> 5.86 <td>]
<td> [x0] <td> <td> [6.23]
</tr>
<tr align=center>
<td>[<td> 8.08 <td> -6.31 <td> -3.89 <td>]
<td> [x1] <td> = <td> [5.37]
</tr>
<tr align=center>
<td>[<td> -4.36 <td> 1.00 <td> 0.19 <td>]
<td> [x2] <td> <td> [2.29]
</tr>
</table></pre>
        <ol type=I>
<li><p> Solve it using GSL.

<p>
Hint: you can solve linear systems using one of the many methods, for example,
	<ul>
<li>Householder solver for linear systems,
<pre>
gsl_linalg_HH_solve
</pre>
<li>LU-decomposition,
<pre>
gsl_linalg_LU_decomp
gsl_linalg_LU_solve
</pre>

<li>QR-decomposition,
<pre>
gsl_linalg_QR_decomp
gsl_linalg_QR_solve
</pre>

See also:<br>
<br>GSL manual &rarr; Linear Algebra &rarr; Householder solver for linear systems;
<br>GSL manual &rarr; Linear Algebra &rarr; LU Decomposition;
<br>GSL manual &rarr; Linear Algebra &rarr; QR Decomposition;
<br>GSL manual &rarr; Linear Algebra &rarr; Linear Algebra Examples.
	</ul>

<p><li>Check that you have the correct solution by multiplying the
original matrix and the solution and comparing with the right-hand-side.

</ol>

<li>(Optional) Compute the eigenvalues and eigenvectors of 4-th order Hilbert matrix, <i>H<sub>ij</sub> = 1/(i + j + 1)</i>.

</ol>
