<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<h2>Exercise "hello"</h2>

<ol>

<li>Build the <a
href="https://en.wikipedia.org/wiki/%22Hello,_World!%22_program">hello
world</a> program -- a program that prints "Hello, World!" on
the terminal.

<ul>

<li>Create a folder for the exercise, let's say "prog/hello": <code>mkdir --parents ~/prog/hello</code>.
<li>Go to your directory: <code>cd ~/prog/hello</code>.
<li>Create a file <code>hello.c</code> with the content
<pre>
#include "stdio.h"
int main()
{
        printf("hello, world\n");
	return 0;
}
</pre>
<li>Compile and link the program: <code>cc hello.c -o hello</code>.
<li>Run the program: <code>./hello</code>

</ul>

</ol>

</ol>
