<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>

<h2>Exercise Multiprocessing</h2>

<h3>Monte Carlo method</h3>
<p>
Suppose you can throw darts, one after one, into a 1x1 square target
with such a bad precision that your darts cover the square uniformly.
Then you can calculate the number &pi; in the following way:

	<ol type=i>
	<li>inscribe a circle within your square;
	<li>throw sufficiently large number N of darts;
	<li>count the number N<sub>in</sub> of darts within the circle;

	<li>the number &pi; is then approximately given as
	&pi; = 4*N<sub>in</sub>/N.

	</ol>

<p>Exercises:
	<ol type=A>

<li> (60%) Build a multiprocessing program with pthreads that implements
the above algorithm. Hint: you should not use the <code>rand</code>
random number generator because it is not necessarily thread-safe:
read <code>man rand_r</code>
and use <code>rand_r</code> instead.

<li> (30%) Do the same using OpemMP.

<li> (9%) Investigate the convergence of the result as function of N.

<li> (1%) Do the above exercises using one of the quasi-random
(low-descrepancy) generators from GSL.

	</ol>
