<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<h2>Problems "nvector"</h2>

<p>Consider an implementation of <i>n</i>-dimensional vectors using the structure
<pre>
typedef struct {int size; double* data;} nvector;
</pre>

	<ol>

<li><p>Implement a set of functions to deal with these vectors.
The declarations must be kept in the header file <code>nvector.h</code>,

<pre>
#ifndef HAVE_NVECTOR_H /* for multiple includes */

typedef struct {int size; double* data;} nvector;

nvector* nvector_alloc       (int n);     /* allocates memory for size-n vector */
void     nvector_free        (nvector* v);                      /* frees memory */
void     nvector_set         (nvector* v, int i, double value); /* v_i &larr; value */;
double   nvector_get         (nvector* v, int i);              /* returns v_i */
double   nvector_dot_product (nvector* u, nvector* v);   /* returns dot-product */

/* optional */
void nvector_print    (char* s, nvector* v);    /* prints s and then vector */
void nvector_set_zero (nvector* v);             /* all elements &larr; 0 */
int  nvector_equal    (nvector* a, nvector* b); /* 1, if equal, 0 otherwise */
void nvector_add      (nvector* a, nvector* b); /* a_i &larr; a_i + b_i */
void nvector_sub      (nvector* a, nvector* b); /* a_i &larr; a_i - b_i */
void nvector_scale    (nvector* a, double x);   /* a_i &larr; x*a_i     */
/* */

#define HAVE_NVECTOR_H
#endif
</pre>


<p>The implementations of the functions must be in the file
<code>nvector.c</code>. You should <code>#include"nvector.h"</code>
in <code>nvector.c</code> to allow the compiler to check the declarations.
Like this,

<pre>
#include&lt;stdio.h&gt;
#include"nvector.h"

nvector* nvector_alloc(int n){
  nvector* v = malloc(sizeof(nvector));
  (*v).size = n;
  (*v).data = malloc(n*sizeof(double));
  if( v==NULL ) fprintf(stderr,"error in nvector_alloc\n");
  return v;
}

void nvector_free(nvector* v){ free(v-&gt;data); free(v);} /* v-&gt;data is identical to (*v).data */

void nvector_set(nvector* v, int i, double value){ (*v).data[i]=value; }

double nvector_get(nvector* v, int i){return (*v).data[i]; }

/* ... */
</pre>


<li>Implement a main function that tests your functions, for example,

<pre>
#include "nvector.h"
#include "stdio.h"
#include "stdlib.h"
#define RND (double)rand()/RAND_MAX

int main()
{
	int n = 5;

	printf("\nmain: testing nvector_alloc ...\n");
	nvector *v = nvector_alloc(n);
	if (v == NULL) printf("test failed\n");
	else printf("test passed\n");

	printf("\nmain: testing nvector_set and nvector_get ...\n");
	double value = RND;
	int i = n / 2;
	nvector_set(v, i, value);
	double vi = nvector_get(v, i);
	if (double_equal(vi, value)) printf("test passed\n");
	else printf("test failed\n");

	printf("\nmain: testing nvector_add ...\n");
	nvector *a = nvector_alloc(n);
	nvector *b = nvector_alloc(n);
	nvector *c = nvector_alloc(n);
	for (int i = 0; i &lt; n; i++) {
		double x = RND, y = RND;
		nvector_set(a, i, x);
		nvector_set(b, i, y);
		nvector_set(c, i, x + y);
	}
	nvector_add(a, b);
	nvector_print("a+b should   = ", c);
	nvector_print("a+b actually = ", a);

	if (nvector_equal(c, a)) printf("test passed\n");
	else printf("test failed\n");

	nvector_free(v);
	nvector_free(a);
	nvector_free(b);
	nvector_free(c);

	return 0;
}
</pre>

<li>(Optional)
<p>Implement range checking using <code>&lt;<a
href="https://en.wikipedia.org/wiki/Assert.h">assert.h</a>&gt;</code>, for example,

<pre>
void nvector_set(nvector* v, int i, double value){
	assert( 0 &lt;= i &amp;&amp; i &lt; (*v).size )
	(*v).data[i]=value;
}
</pre>

	</ol>
