<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h2>Exercise "debug"</h2>

<p>Debug somebody else's project <a
href="examples/debug/">here</a>.

<p>The assignment was the following: "implement a function,
<code>print_half_00</code>, that prints half the [0,0] element of a
given gsl_matrix".

<p>You shouldn't rewrite the code,
you should only correct the errors --- if any --- in the Makefile and the code.

<p>The answer to this exercise should be the correct
<code>Makefile</code> and the correct <code>main.c</code> (it's only few lines each).

<p>Hint: you might want to read <code>man 3 printf</code> and find out
what it returns.
