<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="problems eigen">
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<h2>Problems "eigenvalues"</h2>

<ol type=1>
<li>Consider the following system of linear equations in the matrix form,
<pre>
<table style="">
<tr align=center>
<td>[<td> 6.13 <td> -2.90 <td> 5.86 <td>]
<td> [x0] <td> <td> [6.23]
</tr>
<tr align=center>
<td>[<td> 8.08 <td> -6.31 <td> -3.89 <td>]
<td> [x1] <td> = <td> [5.37]
</tr>
<tr align=center>
<td>[<td> -4.36 <td> 1.00 <td> 0.19 <td>]
<td> [x2] <td> <td> [2.29]
</tr>
</table></pre>
        <ol type=I>
<li><p> Solve it using GSL.

<p>
Hint: you can solve linear systems using one of the many methods, for example,
	<ul>
<li>Householder solver for linear systems,
<pre>
gsl_linalg_HH_solve
</pre>
<li>LU-decomposition,
<pre>
gsl_linalg_LU_decomp
gsl_linalg_LU_solve
</pre>

<li>QR-decomposition,
<pre>
gsl_linalg_QR_decomp
gsl_linalg_QR_solve
</pre>

See also:<br>
<br>GSL manual &rarr; Linear Algebra &rarr; Householder solver for linear systems;
<br>GSL manual &rarr; Linear Algebra &rarr; LU Decomposition;
<br>GSL manual &rarr; Linear Algebra &rarr; QR Decomposition;
<br>GSL manual &rarr; Linear Algebra &rarr; Linear Algebra Examples.
	</ul>

<p><li>Check that you have the correct solution by multiplying the
original matrix and the solution and comparing with the right-hand-side.

</ol>

<li><p>Consider a quantum particle in a box (or a standing wave in a string).
	<ol type=I>

<li><p>
Introduction
(you might also want to read the articles "<a
href="https://en.wikipedia.org/wiki/Particle_in_a_box">Quantum
particle in a box</a>" and/or "<a
href="https://en.wikipedia.org/wiki/Vibrating_string">Standing wave in
a string</a>"):

<dl>
<dt>Quantum particle in a box
<dd><p>
The wave-function \(\psi(x)\) of a particle in a box of length \(L\)
satisfies the Schrödinger equation

\[ \hat H\psi = E\psi \;, \]

where \(E\) is the energy of the particle and where the Hamiltonian \(\hat H\) is given as

\[ \hat H=-\frac{\hbar^2}{2m}\frac{\partial^2}{\partial x^2} \;, \]

where \(m\) is the mass of the particle.

The boundary condition for an infinitely deep box is that the wave-function vanishes at the borders,

\[ \psi(0)=\psi(L)=0 \;. \]

<dt>Dimensionless variables
<dd><p>
Let us introduce dimensionless variables
\(\xi\doteq \frac{x}{L}\),
\(\epsilon \doteq \frac{2mL^2}{\hbar^2}E\), and the new function
\(u(\xi)\doteq\psi(\xi L)\). The Schrödinger equation then reduces to

\[ \hat H' u = \epsilon u \;,\]

where \(\hat H' = -\frac{\partial^2}{\partial\xi^2}\), with the boundary condition

\[ u(0)=u(1)=0 \;. \]

<dt>Representation on a grid
<dd><p>
Numerically one can represent this problem on an equidistant \(N\)-point grid with step \(s\),

\[ \xi_i = is \,,\; s=\frac{1}{N} \,,\; i=0\dots N \;,\]

where the wave-function is represented by a vector
\(u_i = u(x_i)\),

and where the second derivative operation in the Hamiltonian can then be approximated using the 
<a href="https://en.wikipedia.org/wiki/Finite_difference">three
point finite difference formula</a>,

\[ \frac{\partial^2u_i}{\partial\xi^2} = \frac{u_{i-1}-2u_i+u_{i+1}}{s^2} \;. \]
</i>

Now the Schrödinger equation becomes a matrix eigenvalue equation,

\[ \sum_{j=1}^{N-1} H'_{ij} u_j = \epsilon u_i \,,\; i=1...N-1 \;, \]

or, in matrix notation,

\[ H'u=\epsilon u \;, \]

where the matrix \(H'\) is given as
\[
H' = -\frac{1}{s^2}\left(
\begin{array}{cccccc}
 -2   &  1   & 0    & 0    &\dots & 0  \\
  1   & -2   & 1    & 0    &\dots & 0  \\
  0   &  1   & -2   & 1    &\dots & 0 \\
\vdots &\vdots &\vdots &\vdots &\vdots & \vdots \\
   0  &\dots & 0    & 1    & -2   & 1 \\
   0  &\dots & 0    & 0    & 1    & -2 \\
\end{array}
\right) \;.
\]

Notice that&mdash;since the wave-function at the end-points is
zero&mdash;the summation goes over \(1\dots(N-1)\) and the vanishing
components \(u_0=0\) and \(u_N=0\) have been omitted and the boundary
condition is thus built in the formulation of the matrix problem.

<p>Solving the matrix eigenvalue equation amounts to matrix diagonalization.
If you give your matrix <i>H'</i> to a diagonalization routine it will
return a vector <i>e</i> with eigenvalues and a matrix <i>V</i> whith
the corresponding eigenvectors as columns, such that
\[
H'_{ij}V_{jk} = e_k V_{ik} \;.
\]

</dl>

<li>Calculate numerically the egenvalues and eigenfunctions for a quantum
particle in a box.

	<ol type=a>
<li>Build the Hamiltonian matrix \(H'\) as a
<code>gsl_matrix</code> structure.
Hint:
<pre>
int n=20;
double s=1.0/(n+1);
gsl_matrix *H = gsl_matrix_calloc(n,n);
for(int i=0;i&lt;n-1;i++){
  gsl_matrix_set(H,i,i,-2);
  gsl_matrix_set(H,i,i+1,1);
  gsl_matrix_set(H,i+1,i,1);
  }
gsl_matrix_set(H,n-1,n-1,-2);
gsl_matrix_scale(H,-1/s/s);
</pre>

<li>Diagonalize the matrix using GSL subroutines for diagonalization of real
symmetric matrices. Hint:

<pre>
gsl_eigen_symmv_workspace* w =  gsl_eigen_symmv_alloc (n);
gsl_vector* eval = gsl_vector_alloc(n);
gsl_matrix* evec = gsl_matrix_calloc(n,n);
gsl_eigen_symmv(H,eval,evec,w);
</pre>

<li>Sort the eigenvalues and eigenvectors.

<pre>
gsl_eigen_symmv_sort(eval,evec,GSL_EIGEN_SORT_VAL_ASC);
</pre>

<li>Check that your energies are correct. Hint:

<pre>
fprintf (stderr, "i   exact   calculated\n");
for (int k=0; k &lt; n/3; k++){
    double exact = pi*pi*(k+1)*(k+1);
    double calculated = gsl_vector_get(eval,k);
    fprintf (stderr, "%i   %g   %g\n", k, exact, calculated);
}
</pre>

<li>Plot the several lowest eigenfunctions (and compare with the analytical
result).

<pre>
for(int k=0;k&lt;3;k++){
  printf("%g %g\n",0.0,0.0);
  for(int i=0;i&lt;n;i++) printf("%g %g\n",(i+1.0)/(n+1),gsl_matrix_get(evec,i,k));
  printf("%g %g\n",1.0,0.0);
  printf("\n\n");
  }
</pre>

	<li>You may try to investigate how the accuracy changes with
the number of grid points.

	</ol>

</ol>

<li>(Optional) Calculate the lowest eigenvalues and eigenfunctions for
a quantum particle in an oscillator potential.

<li>(Optional) Calculate the lowest eigenvalues and eigenfunctions for a particle in an s-wave in a Coulomb potential.

<li>(Optional) Calculate the lowest eigenvalues and eigenfunctions for a particle in p- and d- waves in a Coulomb potential.

<li>(Optional) You may try impove the accuracy of the method by using the
	five-point formula for the 
finite difference approximation to second derivative from <a
href="https://en.wikipedia.org/wiki/Finite_difference_coefficients">
here</a>.


</ol>
