<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<h2>Problem "LaTeX"</h2>

<ol>

<li>Implement the error-function by integrating (=&nbsp;finding the
solution) numerically the differential equation

<pre>
u'(x) = (<sup>2</sup>/<sub>&radic;&pi;</sub>) e<sup>-x²</sup>
</pre>
with the initial condition
<pre>
u(0) = 0 .
</pre>

<li>Make a plot of your error function in PDF or LaTeX format. Your
<code>main</code> function must take three command-line arguments &mdash;
let us call them <i>a</i>, <i>b</i>, and <i>dx</i> &mdash; and it must
write (to the standard output) a table of error-function values from
<i>a</i> to <i>b</i> with step <i>dx</i>. The command in the Makefile
should be something like

<pre>
./main -3 3 0.2 &gt; data.txt
</pre>

<li>Make a one- or two-page report, in LaTeX, about the error function
using the material from the corresponding article in Wikipedia.

<li>Include your plot in the report.

</ol>
