<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<ol>

<li>
The header files
<code>limits.h</code> and
<code>float.h</code>
define certain useful limits.
	<ol type="i">

<li>
<code>INT_MAX</code> &mdash; the maximum representable integer &mdash; the largest integer
<code>i</code> for which <code>i+1&gt;i</code> holds true.

<p>Exercise: using the <code>while</code> loop determine your maximum integer and
compare it with the value <code>INT_MAX</code> defined in
<code>limits.h</code>.
<br>Hint: something like
<pre>
int i=1; while(i+1&gt;i) {i++;}
printf("my max int = %i\n",i);
</pre>
<p>It can take some seconds to calculate. Try use <code>-O</code>
compiler option, it might help. On my raspberry-pi it takes 7sec with
<code>-O</code> option and 26sec without.

<p>
Now do the same with the <code>for</code> loop and <code>do while</code>
loop.

<li><code>INT_MIN</code> &mdash; the minimum representable integer &mdash; the most negative
integer <code>i</code> for which <code>i-1&lt;i</code> holds
true.

Exercise: using the <code>while</code> loop determine your minimum
integer and compare with the value <code>INT_MIN</code> defined
in <code>limits.h</code>. Do the same using the <code>for</code> loop and
<code>do while</code>
loop.

<li>The
<a href="https://en.wikipedia.org/wiki/Machine_epsilon"><i>machine
epsilon</i></a> is the difference between 1.0 and the next
representable floating point number. Using the <code>while</code> loop
calculate the machine epsilon for types float, double, and long double,
and compare with the values <code>FLT_EPSILON</code>, <code>DBL_EPSILON</code>, and <code>LDBL_EPSILON</code> defined
in <code>float.h</code>. Hint:
<pre>
double x=1; while(1+x!=1){x/=2;} x*=2;
</pre>
Do the same using the <code>do while</code>
loop and <code>for</code> loop.  Hint:
<pre>
double e; for(e=1; 1+e!=1; e/=2){} e*=2;
</pre>
Remember to use <code>%Lg</code> format placeholder for long double
numbers.

	</ol>

<br>
	<li>
<p>
Define <code>int max=INT_MAX/2;</code> (or, say,
<code>INT_MAX/3</code>, if
the execution time is longer than you are willing to wait)

<ol type="i">
<li>Calculate (using iteration statements) the sum
<pre>
float sum_up_float = 1.0f + 1.0f/2 + 1.0f/3 + ... + 1.0f/max;
</pre>
and another sum
<pre>
float sum_down_float = 1.0f/max + 1.0f/(max-1) + 1.0f/(max-2) + ...  +1.0f;
</pre>
with <code>float</code> type and
compare the two sums.

<li>Explain the difference.
<li>Does this sum converge
as function of <code>max</code>?

<li>Now calculate the sums <code>sum_up_double</code> and <code>sum_down_double</code>
using <code>double</code> type. Explain the result.

</ol>

<br>
<li>Write a function with the signature
<code>int equal(double a, double b, double tau, double epsilon)</code>
that returns 1 if the numbers 'a' and 'b' are equal with absolute
precision 'tau',

\[|a-b|\lt\tau\]

or are equal with relative precision 'epsilon',

\[\frac{|a-b|}{|a|+|b|}\lt\frac{\epsilon}{2}\]

and returns 0 otherwise.

<p>The function must be placed in a separate <code>.c</code> file, compiled
separately and then linked to the final executable.

<br>
<li><em>Optional:</em>
<br>Write a function of type <code>void</code> (that is, it does not return
anything) with one argument of type <code>int</code>, which in the case
when the argument is 0, 1, 2, 3, 4, 5, 6, 7, 8, or 9 prints out the name of the
digit, correspondingly "zero", "one", "two", ... , "nine"; and prints "not
a digit" in the case of other arguments. Use the <code>switch</code>
construction. The signature of the function is <code>void name_digit(int
i)</code>.

</ol>
