<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2> Problems "integ" </h2>

	<ol type="1">
<li>Calculate numerically the intergral
<center><pre>
<i>&int;</i><sub><sub>0</sub></sub><sup><sup>1</sup></sup> dx <big>(</big><sup>ln(x)</sup>/<sub>&radic;x</sub><big>)</big> .
</pre></center>

<li>

<p> In the variational method in quantum mechanics one calculates the
expectation value E[&psi;] of a Hamiltonian H,
<center><pre>
E[&psi;] &equiv; &langle;&psi;|H|&psi;&rangle;/&langle;&psi;|&psi;&rangle; ,
</pre></center>
(in <a href="https://en.wikipedia.org/wiki/Bra%E2%80%93ket_notation">Dirac
notation</a>) with some trial function &psi;. The trial function is then
optimized to provide the minimum of the expectation value.

<p>Consider the Hamiltonian
operator for one-dimensional oscillator,
<center><pre>
H<sub>os</sub> = - (1/2) (d²/dx²) + (1/2) x² ,
</pre></center>

and the trial function in the form of a Gaussian,
<center><pre>
&psi;<sub>&alpha;</sub>(x) = exp(-&alpha;x²/2) ,
</pre></center>
where &alpha; is the variational parameter. Calculate numerically
<center><pre>
E(&alpha;) &equiv; &langle;&psi;<sub>&alpha;</sub>|H<sub>os</sub>|&psi;<sub>&alpha;</sub>&rangle;/&langle;&psi;<sub>&alpha;</sub>|&psi;<sub>&alpha;</sub>&rangle; .
</pre></center>

and plot the result &ndash; you should see a minimum of E=0.5 at &alpha;=1 (why?).

<p>Hints:
		<ol type="a">

<li><p>The norm-integral,
&langle;&psi;<sub>&alpha;</sub>|&psi;<sub>&alpha;</sub>&rangle;, has
the form (check it)
<center><pre>
&langle;&psi;<sub>&alpha;</sub>|&psi;<sub>&alpha;</sub>&rangle; = <i>&int;</i><sub><sub>-&infin;</sub></sub><sup><sup>&infin;</sup></sup> exp(-&alpha;x²) dx .
</pre></center>

It is actually analytic, but you have to calculate it numerically.

<li><p>The Hamiltonian-integral,
&langle;&psi;<sub>&alpha;</sub>|H<sub>os</sub>|&psi;<sub>&alpha;</sub>&rangle;,
has the form (check it)
<center><pre>
&langle;&psi;<sub>&alpha;</sub>|H<sub>os</sub>|&psi;<sub>&alpha;</sub>&rangle; = <i>&int;</i><sub><sub>-&infin;</sub></sub><sup><sup>&infin;</sup></sup> (-&alpha;²x²/2 + &alpha;/2 + x²/2)*exp(-&alpha;x²) dx .
</pre></center>

It is actually also analytic, but you again have to calculate it numerically.

<li><p>Since the integration limits are infinite, you migh want to use
<code>gsl_integration_qagi</code>
function. Or&mdash;using the symmetry of the integrand&mdash;<code>gsl_integration_qagiu</code>.

		</ol type="a">

	</ol type="1">

</ol type="A">
