<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<h2>Problems "multiroot"</h2>

<ol type=1>
<li><h3>Gradient of Rosenbrock function</h3>
<p>
	<ol type=A>
<li>Find the extremum of the
<a href="https://en.wikipedia.org/wiki/Rosenbrock_function">Rosenbrock function</a>,
<center><pre>
f(x,y) = (1-x)² + 100(y-x²)² ,
</pre></center>
by finding the root of it's gradient (that is, the point where the
gradient is zero). You have to calculate the gradient analytically.

<li>Print out the number of iterations it took the algorithm to converge.

<li>Print out the points where the algorithm calculated the values of
the gradient.

<li>(Optional) Make a contour plot of the Rosenbrock function together
with the path the alogorithm used to converge to the extremum.
	</ol>

</p>
<li>
<h3>Bound states of hydrogen atom with
<a href="https://en.wikipedia.org/wiki/Shooting_method">shooting method for
boundary value problems</a></h3>
<h4>Introduction</h4>
The s-wave radial Schrödinger equation for the Hydrogen atom reads (in units "Bohr radius" and "Hartree"),
<p>
<center><pre>
-(1/2)f'' -(1/r)f = &epsilon;f ,
</pre></center>
</p>
where f(r) is the radial wave-function,
&epsilon; is the energy, and primes denote the derivative
over r.

<p>The bound s-state wave-function satisfies this equation and the two boundary conditions,
<p>
<center><pre>
f(r &rarr; 0) = r-r², (prove this)<br>
f(r &rarr; &infin;) = 0 .
</pre></center>
</p>

<p>These two boundary conditions can only be satisfied for certain
discrete (negative) values of the energy.

<p>Since one cannot integrate numerically to &infin; one substitutes
&infin; with a reasonably large number, r<sub>max</sub>, such that it is much larger
than the typical size of the hydrogen atom but still managable for the
numerical inregrator (say, r<sub>max</sub> = 10 Bohr radii),

<center><pre>
f(r<sub>max</sub>)=0 .
</pre></center>

<p>Let F<sub>&epsilon;</sub>(r) be the solution (to be found numericall
via <code>gsl_odeiv</code>) to our differential equation with energy
&epsilon; and initial condition F<sub>&epsilon;</sub>(r &rarr; 0)=r-r².

Generally, for a random negative &epsilon;, this solution will not satisfy the
boundary condition at r<sub>max</sub>. It will only be satisfied when
&epsilon; is equal one of the bound state energies of the system.

<p>Now define an auxiliary
function
<center><pre>
M(&epsilon;) &equiv; F<sub>&epsilon;</sub>(r<sub>max</sub>) .
</pre></center>

<p>The shooting method is then equivalent to finding the
(negative) root of the equation

<center><pre>
M(&epsilon;) = 0 .
</pre></center>

<h4>Exercises</h4>

<ol type=A>

<li><p>Find the lowest root, &epsilon;<sub>0</sub>, of the equation
<code>M(&epsilon;) = 0</code> for, say, r<sub>max</sub>=8. Plot
the resulting function and compare with the exact result (which is
&epsilon;<sub>0</sub>=-1/2, f<sub>0</sub>(r)=re<sup>-r</sup> &ndash;
check this by inserting &epsilon;<sub>0</sub> and f<sub>0</sub>(r)
into the Schredinger equation above).

<li><p>(Optional) Investigate the convergence of the solution towards
the exact result as function of r<sub>max</sub>.

<li><p>(Optional) Try also to use a more precise boundary condition for
bound states (which have &epsilon;&lt;0),

<center><pre>
f(r &rarr; &infin;) = r e<sup>-kr</sup> , (prove this)
</pre></center>
where k=&radic;(-2&epsilon;). This should allow you to use a smaller r<sub>max</sub>.

</ol>

</dl>

<ol type=1>
