<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Problems "stdio and gnuplot"</h2>

Remember that all exercises must be made using Makefiles.

		<ol>

<li>
<p>Write a program <code>main-stdio</code> that reads a set of numbers
from the standard input and writes these numbers together with their
cosines in a table form into the standard output.
<br>Hint:

<pre>
double x;
while( scanf("%lg",&amp;x) != EOF ) printf("%lg \t %lg\n",x,cos(x));
</pre>

<li>
<p>
Test the program by sending some numbers to it's standard input and
observing its standard output, for example,

<pre>
echo 1 2 3 4 5 | ./main-stdio &gt; test.io.out.txt
</pre>
and
<pre>
seq 1 0.5 4 | ./main-stdio &gt; test.io.out.txt
</pre>

If you have Danish locale, and
if your <code>seq</code> produces decimal commas, try <code>seq 1 0.5 4 |
sed -e 's/,/./g'</code>. Read <code>man sed</code>.


<li>
<p>
Write a program <code>main-cmdline</code> that reads a set of numbers
from its command-line-arguments and writes these numbers together with
their sines in a table form into the standard output.

<p>Hint:

<pre>
for(int i=1;i&lt;argc;i++) {
	double x=atof(argv[i]);
	printf("%lg \t %lg\n",x,sin(x));
}
</pre>

<p>Note: the length of the command-line string is limited by something
like 2Mb so big data-sets should be read via standard input.

<li>
<p>
Test the program by sending some numbers to it's command line and
observing its standard output, for example,

<pre>
./main-cmdline 1 2 3 4 5 6 &gt; test.cmd.out.txt
</pre>

and

<pre>
./main-cmdline `seq 0 0.5 2` &gt; test.cmd.out.txt
</pre>

Note the backquotes around the command <code>`seq 0 0.5 2`</code>. Read
about backquotes in <code>man bash</code>, section "Command
Substitution".

<li>
<p>
Prepare an input file with some numbers to make a plot of sine and cosine,
for example (you only need sed if your seq produces decimal commas),

<pre>
seq 0 0.2 5 | sed -e 's/,/./g' &gt; input.data.txt
</pre>

<li>
<p>
Feed this file inout your prorams and produce tables of sine and cosine, for example,

<pre>
cat input.data.txt | ./main-stdio &gt; out.io.txt
</pre>
or
<pre>
./main-stdio &lt; input.data.txt &gt; out.io.txt
</pre>

and

<pre>
./main-cmdline `cat input.data.txt` &gt; out.cmd.txt
</pre>

<li>Make a plot of these sine and cosine tables
using gnuplot/pyxplot. For example by creating a scipt file, <code>plot.gpi</code>,

<pre>
set terminal svg
set output "plot.svg"
plot "out.io.txt", "out.cmd.txt"
</pre>

and the running gnuplot on it,

<pre>
gnuplot plot.gpi
</pre>

</ol>
