<head>
<link rel="stylesheet" type="text/css" href="style.css">
<!--
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
</head>

<h2>Exercise "math"</h2>

<ol>
<li> Calculate (using C mathematical functions):
	<ul>
<li><i>&Gamma;(5)</i> (Gamma function). Hint: <code>man -k gamma</code>.
<li><i>J<sub>1</sub>(0.5)</i> (Bessel function). Hint: <code>man -k bessel</code>.
<li>
<i>&radic;<span style="text-decoration:overline;">-2</span></i>,
<i>e<sup>i</sup></i>,
<i>e<sup>i&pi;</sup></i>,
<i>i<sup>e</sup></i>.
	</ul>

<p>
Hints:
<ul>

<li>There is no built-in format for complex numbers, you have to
print separately the real and the complex parts using
<code>creal</code>,
<code>creall</code>,
<code>cimag</code>,
<code>cimagl</code>
functions; read <code>man creal</code> and <code>man cimag</code>.

<li>The header file <code>complex.h</code>
defines the imaginary unit as <code>I</code>.

<li>In some implementations the header <code>math.h</code> defines
<code>M_E</code> (the value of <i>e</i>) and <code>M_PI</code> (the value
of <i>&pi;</i>). If not, you can define this constants (in double precision) as

<pre>
# define M_E  2.7182818284590452354 /* e */
# define M_PI 3.1415926535897932384 /* pi */
</pre>

</ul>

<li>Find out how many signigicant digits can variables of types
<code>float</code>, <code>double</code>, and <code>long double</code>
hold in them by trying to store the number
0.1111111111111111111111111111
in the variable and then printing out what is stored. The <code>long
double</code> number must end with L:

<pre>
long double x = 0.1111111111111111111111111111L;
</pre>

otherwise it will be considered as double and truncated.  Print numbers
with format placeholders "%.25g" for float, "%.25lg" for double,
"%.25Lg" for long double.

</ol>
