<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Problems Optimization</h2>

<ol type="1">

<li><h3>Minimum of the Rosenbrock function</h3>
	<ol type=A>
<li>Find, using one of the minimization routines from GSL, the minimum of the
<a href="https://en.wikipedia.org/wiki/Rosenbrock_function">Rosenbrock function</a>,
<pre>
f(x,y) = (1-x)² + 100(y-x²)²
</pre>
<li>Print out the number of iterations.
<li>Print out the points where the algorithm estimated the function.
<li>(Optional) Illustrate the path the algorithm took toward the minimum.
	</ol>


<li><h3>Least-squares fit</h3>

Suppose an experiment measuring the activity of a radioactive
substance as function of time gives the following result,
<pre>
# t_i   y_i   e_i
 0.47  5.49  0.26
 1.41  4.08  0.12
 2.36  3.54  0.27
 3.30  2.61  0.10
 4.24  2.09  0.15
 5.18  1.91  0.11
 6.13  1.55  0.13
 7.07  1.47  0.07
 8.01  1.45  0.15
 8.95  1.25  0.09
</pre>
or
<pre>
double t[]= {0.47,1.41,2.36,3.30,4.24,5.18,6.13,7.07,8.01,8.95};
double y[]= {5.49,4.08,3.54,2.61,2.09,1.91,1.55,1.47,1.45,1.25};
double e[]= {0.26,0.12,0.27,0.10,0.15,0.11,0.13,0.07,0.15,0.09};
int n = sizeof(t)/sizeof(t[0]);
</pre>

where the time t<sub>i</sub>, activity y<sub>i</sub>, and the experimental error &sigma;<sub>i</sub>
are given in some rescaled units.
<p>Now,

	<ol type=A>
<li>Do the least-squares fit of the function
<pre>
<i>f(t)=A*exp(-t/T)+B</i>
</pre>
(where
the initial amount <i>A</i>,
the lifetime <i>T</i>, and
the background noise <i>B</i>
are the fitting parameters) to the data and estimate the
lifetime, T, of the substance.

<li>Plot the experimental data and the fitting function.

<li>(Optional) Do the same least-squares fit with another algorithm from
<code>gsl_multimin.h</code> and find out which make fewer evaluations
of the master function.

<li>(Optional) Do the fit using the Gnuplot's built-in fitting command
<code>fit</code> and compare with your fit.

	</ol>

<p>Hints:
    <ol type=i>

<li><p>It is probably easier to use the algorithm without derivatives
<code>gsl_multimin_fminimizer_nmsimplex2</code>.

<li><p>The (master) function to minimize is
<code>F(A,T,B)=&sum;<sub><sub>i</sub></sub>(f(t<sub>i</sub>)-y<sub>i</sub>)²/&sigma;<sub>i</sub>²</code>.
That is, you have a three-dimensional minimization problem in the space
of the parameters <i>A</i>, <i>T</i>, and <i>B</i>.

<p>It can be programmed like this,

<pre>
struct experimental_data {int n; double *t,*y,*e;};

double function_to_minimize (const gsl_vector *x, void *params) {
	double  A = gsl_vector_get(x,0);
	double  T = gsl_vector_get(x,1);
	double  B = gsl_vector_get(x,2);
	struct experimental_data *p = (struct experimental_data*) params;
	int     n = p-&gt;n;
	double *t = p-&gt;t;
	double *y = p-&gt;y;
	double *e = p-&gt;e;
	double sum=0;
	#define f(t) A*exp(-(t)/T) + B
	for(int i=0;i&lt;n;i++) sum+ = pow( (f(t[i]) - y[i])/e[i] ,2);
	return sum;
}
</pre>


    </ol>


</ol>
