<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="c-programming: redirection of standard streams">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h1>Redirection of standard streams</h1>

A POSIX shell can disconnect the standard streams from their default
devices and connect them to another devices.  This is called
<em>redirection</em> of standard streams.

<h2>Output redirection
</h2>

<ul>
<li> Standard output of a program can be redirected into a file
<code>file</code> by the directives <code>&gt;file</code> and
<code>&gt;&gt;file</code>.

For example, the shell command

<pre>
./hello &gt; out.txt
</pre>

deletes the contents of the file <code>out.txt</code> and then
sends the standard output of the program <code>hello</code> into that
file.  <p>Alternatively, the shell command

<pre>
./hello &gt;&gt; out.txt
</pre>

appends the file <code>out.txt</code> with whatever <code>hello</code>
prints to standard output.

<p>
This two redirections are actually an abbreviation of the full commands
<code>1&gt;file</code> and <code>1&gt;&gt;file</code> where 1 is
the default number of the stdout stream.

<br>
<li> Analogously the standard error stream of a program can be redirected
into a file <code>file</code> by the directives <code>2&gt;file</code>
and <code>2&gt;&gt;file</code>. For example, the following command
redirects standard output into <code>out.txt</code> and standard error
into <code>errors.txt</code>.

<pre>
./prog 1&gt; out.txt 2&gt; errors.txt
</pre>

<br>
<li> <code>&amp;&gt;file</code> redirects both stdout and
stdin into <code>file</code>.

<br>
<li> <code>2&gt;&amp;1</code> redirects stderr to stdout.

</ul>

<h2>Input redirection and pipes
</h2>
<ul>
<li>
The standard input stream of a program can be attached to a file
with the directive <code>&lt;</code>, for example the
shell command

<pre>
./prog &lt; input.txt
</pre>
connects the standard input stream of the program <code>prog</code>
with the file <code>file</code> such that all reads from the standard
input actually read from the attached file.

<br>
<li>
The pipe, <code>|</code>, connects the standard output of one program
to the standard input of another program, for example,

<pre>
echo 1.23 | ./prog
</pre>
sends the string "1.23" into the standard input of the program
<code>./prog</code>.

</ul>

</ul>

</dl>
