<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="note-make">
<link rel="stylesheet" type="text/css" href="style.css">
<!--
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
</head>

<a href='.'>&larr;PPNM</a>

<h2>Note "make"</h2>

<h3>make</h3>

<p><code>make</code> is a utility to manage pojects in a computer &ndash;
programs, libraries, articles, reports, web-sites and other projects
where files must be manipulated according to certain rules.

<p>When make is run, it reads the description of the project
from a <code>makefile</code> and then automatically updates the project,
if necessary, according to the descriptions in the makefile.

<h3>Makefile</h3>
A makefile contains a description of the project in the declarative
makefile language. By default a makefile must have the name
<code>Makefile</code> or <code>makefile</code>. If the makefile is called
<code>SomethingElse</code> then the make utility must be called as

<p>
<code>make -f SomethingElse</code>.
</p>

<p>A makefile consists of <em>macro definitions</em> and <em>rules</em>
and resembles a cookbook.

<h4>Macro definitions</h4>
A macro definition looks like a normal assignment in a programming language,
<pre>
CFLAGS = -Wall -std=gnu99
</pre>
The macro can be called as <code>$(CFLAGS)</code> and will return
the string "-Wall -std=gnu99".

<h4>Rules</h4>
A <em>rule</em> looks very much like
an instruction for preparing a dish. It has the following syntax,

<pre>
dish : ingredients
<code>&dashv;</code>recipe
</pre>
where the sign <code>&dashv;</code> denotes the (mostly invisible,
unfortunately) tabulator-sign. Yes, by default a recipie starts with the
tabulator-sign. This aspect has been a subject of critisism, so in the
GNU-make version 3.82+ one can change the default tabulator-sign to any
other sign&mdash;for example a semicolon <code>;</code>&mdash;by defining a macro
<code>.RECIPEPREFIX := ;</code>.

<p>The rule is interpreted like the following:

	<ul>

<li>Our goal is to make 'dish'.

<li>Before making the dish, all 'ingredients' must be prepared (usually
according to their own 'rules').

<li>Once all 'ingrediens' are made, the 'dish' is made according to the
'recipie'.

	</ul>

<p>The
<a href='https://www.gnu.org/software/make/manual/make.html'>GNU-make
manual</a> uses a somewhat different notation,

<pre>
target : prerequisites
<code>&dashv;</code>recipe
</pre>

<p>If the recipie consists of one command only, it can be writte in the
same line as the target,

<pre>
target : prerequisites ; recipe
</pre>

<p>By default 'make' only builds the first target it finds in the
makefile. Therefore if more than one targets must be built one makes a
"phoney" target that depends on the targets that must be built by default,

<pre>
.PHONEY: default
default : target1 target2 target3
</pre>

<h3>'Hello world' example</h3>
<p>Suppose we have a project to create a file <code>out.txt</code> with
the text "hello world" in it using a 'hello world' c-program.

<p>The makefile for the project could look like this,
<pre>
out.txt : hello         # out.txt depends on hello
<code>&dashv;</code>./hello &gt; out.txt     # this is how you make out.txt from hello

hello : hello.o         # hello depends on hello.o
<code>&dashv;</code>cc hello.o -o hello   # this is how you make hello from hello.o

hello.o : hello.c       # hello.o depends on hello.c
<code>&dashv;</code>cc -c hello.c         # this is how you make hello.o from hello.c

.PHONEY:clean
clean:                  # this is "clean" target it does not depend on anything
<code>&dashv;</code>rm -f out.txt hello hello.o
</pre>

where the hash-sign <code>#</code> signifies the beginning of a comment.
