<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="C-programming: passing functions as parameters">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Note "passing functions as paramters"</h2>

<h3>Pointer to function
</h3>

A pointer to a function is an ordinary type in the C-language.  It can be
declared as, for example, the following,

<pre>
double (*f)(double); /* f is a pointer to double function of double argument */
</pre>

The variable <code>f</code> contains a pointer to a function
that takes one double argument and returns a double result.

<p>
One can assign a value to this variable and then use it as a normal
function, for example, after <code>#include"math.h"</code>,

<pre>
f=&amp;sin;
printf( "%g\n", (*f)(1) );
</pre>

Interestingly, in the C-language the following phenomena are observed:
<ol><li>One can call both functions and function pointers,

<pre>
double x = sin(1.0);
double y = (&amp;sin)(1.0); /* apparently allowed */
</pre>

<li>Ordinary functions are implicitly converted to
function pointers (pointing to themselves);

</ol>

<p>Therefore, the following is equally
valid,

<pre>
double (*f)(double);
f=sin;                   /* sin is implicitly converted to &amp;sin */
printf( "%g\n", f(1) );  /* ok to call function pointer */
</pre>

<h3>Functions as arguments
</h3>

One can pass pointers to functions as arguments to other functions
just like any other variables, for example,

<pre>
#include"stdio.h"
#include"math.h"

void print_f_of_1 ( double (*f)(double) ) {
        printf("f_of_1=%g\n",f(1)); /* ok to call function pointer */
        }

int main(){
        print_f_of_1 (&amp;sin);
        print_f_of_1 (&amp;cos);
        print_f_of_1 (tan); /* ok: function is implicitly converted to function pointer */
return 0;
}
</pre>

<h3>Pointers to functions in arrays and structures
</h3>

<p>Pointers to functions, like other types of variables, can be
elements of arrays,

<pre>
#include"stdio.h"
#include"math.h"

int main(){
        double (*f[3])(double) = {sin,cos,tan};
	f[2]=exp;
        for(int i=0;i&lt;3;i++)printf("%g\n",f[i](1));
return 0;
}
</pre>

or members of structures,

<pre>
#include"stdio.h"
#include"math.h"
struct funs {double (*a) (double); double (*b) (double);};
int main(){
        struct funs F = {.a=sin,.b=cos};
        printf("%g %g\n",F.a(1),F.b(1));
return 0;
}
</pre>

