<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
<!--
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
</head>
<a href='.'>&larr;PPNM</a>

<h2>Multiprocessing
</h2>

<h3>Symmteric multiprocessing</h3>
<p>
<em>Symmetric multiprocessing</em> (SMP) referes to computer hardware
where two or more identical processors are connected to a single shared
main memory and are controlled by a single instance of an operating
system.  Most ordinary computers today use the SMP architecture.

<p>
When a program uses two or more processors&mdash;to share the workload
and speedup execution&mdash;on an SMP computer, it is broadly refered to
as <em>multiprocessing</em> or <em>parallel computing</em>.

A part of the program that runs on a single processor is refered to in
this context as a <em>thread</em>. Multiprocessing is generally achieved
when the master thread of a program forks off a number of extra threads
which execute blocks of code in parallel on the available processors.

<h3>pthreads
</h3>
The POSIX standard defines an application programming interface---usually
referred to as Posix threads or Pthreads---for creating and manipulating
threads. Here is an example,
<pre>
#include"pthread.h" /* CFLAGS+= -pthread */
#include"math.h"
#include"stdio.h"

void* bar(void* arg){ /* a function to run in a separate thread */
	double *x=(double*)arg;
	for(int i=0;i&lt;1e8;i++) *x=cos(*x); /* do your stuff here */
	return NULL;
}

int main() {
	pthread_t thread;
	double x=0,y=100;
	int flag=pthread_create( /* create a thread */
   		&amp;thread,NULL,
		bar,(void*)&amp;x); /* and run bar(x) in it */
	bar((void*)&amp;y); /* meanwhile in the master thread... */
	flag = pthread_join(thread,NULL); /* join the other thread */
	printf("x=%g\ny=%g\n",x,y);
return 0;
}
</pre>

<h3>OpenMP
</h3>
One relatively easy way to do multiprocessing is to use
"OpenMP" &ndash; an industry standard programming interface that supports
shared-memory multiprocessing programming in C, C++, and Fortran.
The GNU compilers gcc, g++, and gfortran support the latest OpenMP
specifictaion (as do several others compilers).

<p>
With OpenMP the user simply marks the sections of code that are meant to
run in parallel with the corresponding preprocessor directives and the
compiler does all the low-level programming for creating the thread-tasks
and running the threads.

<p>
In C/C++ OpenMP markings are done with <code>#pragma omp</code>
preprocessor directive, in Fortran77 with <code>C$OMP</code> and in
Fortran90 with <code>!$omp</code>.  The directives must be on their
own lines.

<p>
The full OpenMP specification is available from ``openmp.org''.

Here is an simple example of running two chunks of
code in parallel,

<pre>
#include <omp.h>                  // -fopenmp -lgomp
#include <math.h>                 // -lm
#include <stdio.h> 
int main()
{
double x=0,y=100;
#pragma omp parallel sections
// the following sections wil be run parallelly in separate threads
   {
   #pragma omp section  // first thread will run this block of code
      {  
      for(int i=0;i&lt;1e8;i++) x=cos(x);
      }  
   #pragma omp section  // second thread will run this block of code
      {  
      for(int i=0;i&lt;1e8;i++) y=cos(y);
      }  
   }
printf("x=%g y=%g\n",x,y);
}
</pre>
