<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Note "arrays"</h2>

<h3>C-arrays</h3>

The C-language has several types of arrays. We shall mostly use
one-dimensional arrays and a little bit of arrays-of-arrays.

<p>
A one-dimensional array can store several values&mdash;called
array elements&mdash;of <b>the same</b> type. Useful for vectors
and matrices. The element number <code>i</code> of the double array
<code>a</code> can be accessed as <code>a[i]</code>,
the numbering of elements in a C-arrays starts with zero,

<pre>
double a[7]; /* allocates memory in the stack for 7 double numbers a[0], a[1], ..., a[6] */
a[0]=1.23;
print("element number 0 equals %g\n",a[0]);
</pre>


<p>
The arrays in C&mdash;generally speaking&mdash;do not know their sizes (compiler
might figure out sometimes but you shouldn't rely on this). The sizes
<b>must</b> be passed around together with the arrays.

<h3>Static arrays and VLAs</h3>
An array where the number of elements is known at compile-time, say 9, can be declared as

<pre>
double a[9];
</pre>

The numbering of elements starts with 0, hence the array elements are from
<code>a[0]</code> to <code>a[8]</code>.

<p>
After this declaration the compiler reserves (allocates) a block of memory
in the stack to keep 9 double values. The array is kept in memory until
it gets out of scope when it is automatically deallocated.

<p>In the C99 standard the arrays can also be declared at
run-time. They are called Variable Length Arrays (VLA)

<pre>
double a[n];
</pre>

VLAs are also allocated in the stack and are also automatically
deallocated when out of scope.

<h3>Dynamically allocated arrays</h3>
The stack can only keep relatively small arrays. Large arrays must be
allocated in the heap using the <code>malloc</code> function,

<pre>
double* a = malloc(n*sizeof(double));
</pre>

<p>
The arrays allocated using <code>malloc</code> must be manually
deallocated using the <code>free</code> function,

<pre>
free(a);
</pre>

It is your responsibility to free memory allocated by
<code>malloc</code>. There must be a <code>free</code> for every
<code>malloc</code>. Forgetting to free memory might lead to memory-leaks.
