<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="c-programming: simple input output">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h1>Note input/output</h1>

<h2>Output
</h2>
You can output data from your C-program by writing to <ol><li>Standard
output streams (stdout and stderr);<li> Named file streams.
</ol>

	<h3>Standard streams
	</h3>
Streams are objects of the type <code>FILE*</code> (pointer to
file) which are connected to devices where you can send data.
For every C-program there are always two output streams open: the standard
output stream, <code>stdout</code>, and the standard error stream,
<code>stderr</code>.  By default both of these streams are connected
to the terminal from which the program is run.  Anything you send to
these streams is by default shown on the terminal (however, these
streams can be easily redirected by your shell to other destinations,
see "note-redirect").

<p>
You send data to <code>stdout</code> stream with the <code>printf</code>
function,

<pre>
double x = 1.23;
printf("%g\n",x);
</pre>
or, equivalently, with the <code>fprintf</code> function,
<pre>
fprintf(stdout,"%g\n",x);
</pre>

<p>You send data to <code>stderr</code> stream with the
<code>fprintf</code> function, for example,

<pre>
fprintf(stderr,"%g\n",x);
</pre>

	<h3>Named file streams
	</h3>
Usually the two standard streams are enough for a program to output its
data via redirection. However sometimes you need to wrie specifically
to a file with a certain name. You do this by creating a stream connected
with the given file,

<pre>
FILE* mystream = fopen("out.txt","w");
</pre>
where "w" means "writing" (read <code>man fopen</code> for details).

<p>
Now you can send data directly into file <code>out.txt</code> by writing
into stream <code>mystream</code>, for example,

<pre>
fprintf(mystream,"%g\n",x);
</pre>

When you are done writing, you close the stream,
<pre>
fclose(mystream);
</pre>

<h2>Input
</h2>
You can input data into your C-program by<ol><li>Command-line arguments;
<li>Reading from standard input;<li>Reading from file streams.
</ol>

	<h3>Standard input stream and file streams
	</h3>
Every C-program has the <em>standard input stream</em>,
<code>stdin</code>, autmatically opened and connected to the terminal
from which the program is run (but can be conveniently redirected).
Apart from this you can also open your own file streams for reading,
for example,

<pre>
FILE* mystream = fopen("input.txt","r");
</pre>

You can read from the streams using the <code>scanf</code> function,
which reads from stdin, and <code>fscanf</code> function which reads from
the specified stream, for example,

<pre>
double x;
int items;
items = scanf("%g",&amp;x);
items = fscanf(stdin,"%g",&amp;x);
items = fscanf(mystream,"%g",&amp;x);
</pre>

	<h3>Command-line arguments
	</h3>
A small amount of data can be passed to a C-program via command-line
arguments by declaring the main function as

<pre>
int main(int argc, char** argv){/* do stuff */}
</pre>

where <code>argc</code>, argument count, is the number of command-line
arguments (where the name of the program is also counted), and
<code>argv</code> is the array of strings of the size <code>argc</code>
that holds the command-line arguments (where the first element,
<code>argv[0]</code> is the name of the program and <code>argv[1]</code>
is the first actual argument).

<p>
When the program is run the operating system calls the <code>main</code>
function and provides its arguments as the array of blank-separated
strings taken from the command that ran the program.

<p>You can convert a string representation of a double number into
the very double number using the function <code>atof</code> from
<code>stdlib.h</code>, "ascii to double", for example,

<pre>
int main(int argc, char** argv){
	if(argc&lt;2) printf("there was no argument\n");
	else {
		double x = atof(argv[1]);
		printf("x = %g\n",x);
	}
return 0;
}
</pre>


	</dl>

</dl>
