<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Note "pointers"</h2>

<h3>C-pointers</h3>

Suppose we have a variable
<pre>
double x=1.23;
</pre>
The content of this variable is kept in the computer memory at a
certain location.  One can get the "address of" (or "pointer to") this
location, <code>&amp;x</code>, using the <em>address-of</em> operator
<code>&amp;</code> (also called <em>referencing</em> operator).

The object <code>&amp;x</code> has the type <code>double*</code> called
"pointer to double". The address can be stored in a variable of type
<code>double*</code>,

<pre>
double* p = &amp;x;
</pre>

The variable <code>p</code> of the type <code>double*</code> is called
a <em>pointer</em> (to double). It holds a pointer to the location in
the computer memory where a <code>double</code> value is kept.

<p>
One can extract the double value at that memory location
using the <em>value-at</em> operator <code>*</code> (also called
<em>dereferencing</em> operator): <code>*p</code>. Thus <code>*p</code>
is the double value kept in the memory location pointed by the pointer
<code>p</code>. Therefore,

<pre>
printf("%g\n",*p);
</pre>

should produce <code>1.23</code>.

<p>
A copy of the pointer,

<pre>
double* q = p;
</pre>

points to the same location, so

<pre>
printf("%g\n",*q);
</pre>

should also produce <code>1.23</code>.

<p>Now if one changes the content at the address <code>q</code>,

<pre>
*q = 7.0;
</pre>

then both <code>x</code> and <code>*p</code> change to <code>7.0</code>
as they both refer to the same memory location.

<p>The declaration <code>double* p;</code> can be also written and
interpreted as <code>double *p;</code>.

<p>There exist pointers to all types, not only to double.

<h3>Why use pointers in C?</h3>

<dl>
<dt>Pointers and arrays
<dd>
<p>
In the C-language arrays are largely implemented as pointers. Suppose we
declare an array <code>double a[9]</code>. Then the varible <code>a</code>
has the type <code>double*</code> and is actually a pointer to the
first element of the array. When an array is passsed as a parameter it
completely becomes a pointer. Therefore the arrays in C do not know
their sizes. The sizes must be passed around together with arrays.

<p>
The element indexing operation <code>a[i]</code> is actually implemented
as <code>*(a+i)</code>. That is, "the content of the i'th
<code>double</code> location in the memory counted from <code>a</code>".

<dt>Argument passing
<dd>
<p>
When a C-function is called, it gets the <em>copies</em> of its
arguments. This property of the C-language leads to several
<strike>problems</strike> features:

<ol>

<li>A function cannot change the variables in the caller's scope, since
the function gets copies of the variables.

<li>Passing a huge object to a function would unnecessarily create a
copy of the object thus wasting resources.

<li>A function in C can only return one value while sometimes you need
to return several values and you don't want to create a special object
to keep these several values in one variable.

</ol>

<p>
Pointers allow one to overcome these features by passing a pointer to the object instead of the object itself. Indeed,


<ol>

<li>A copy of a pointer points to the same location, so changing the
value at the location changes the value at the caller's scope.

<li>Passing a pointer to an object allows the function to work with the
object itself, no need to create a copy of the object.

<li>Passing a pointer to a variable allows the function to return a
value by placing it at the pointer's location.

</ol>
