<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="c-program">
<link rel="stylesheet" type="text/css" href="style.css">
<!--
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
</head>
<a href='.'>&larr;PPNM</a>

<h2>Structure of a C-program and basics of compilation</h2>

<h3>Function</h3>
A function in C is a block of code within a pair of curly brackets,
<code>{...}</code>, with a unique name and a declared type.  The
function must return a value of the declared type unless the type is
<code>void</code> in which case it does not return anything.  A function
can optionally take arguments.

<p>
For example, here is a function that takes two double arguments and
returns a double value,

<pre>
double multiply(double a, double b)
{
double r = a*b;   /* do some useful stuff */
return r;         /* return a value of declared type */
}
</pre>
Here is a function that takes no parameters and returns nothing,
<pre>
void hello(void){ printf("hello, world\n"); }
</pre>

A function is called by its name followed by the arguments, if any,
in parenthesis, for example,

<pre>
hello();
double x = multiply(2.0, 4.0);
</pre>

<p>
C is a
<a href='https://en.wikipedia.org/wiki/Free-form_language'>free form</a>
language: you can put (multiple) new-lines, spaces, and tabs anywhere
between the tokens of the language.

<h3>C-program</h3>
A C-program is (basically) a collection of functions which
performs certain (useful) tasks. One of the functions has the name
<code>main</code>. This function is called by the operating system when
the program is run. The <code>main</code> function then typically calls other
functions in the program.
<h3>Source code</h3>
The collection of function definitions in a program in the C-language is
called the <em>source code</em>. The source code is typically contained
in one or several text files with extension <code>.c</code> such as
<code>hello.c</code>. Apart from definitions of functions the source
code can also contain declarations of variables and types, and also
preprocessor directives.

<h3>Object code and compilation</h3>
The <em>object code</em> is the translation of the function
definitions from the C-language into processor instructions language. The
object code is typically contained in a binary file with extension
<code>.o</code>. The process of translation is called <em>compilation</em>
and is typically done by a C-compiler such as <code>gcc</code>. For
example,

<p>
<code>gcc -c hello.c -o hello.o</code>
</p>

where <code>-c</code> means <em>compile only</em> and <code>-o hello.o</code>
means <i>output goes into file "hello.o"</i>.
(The last option is not strictly necessary as the file
<code>hello.c</code> is compiled into <code>hello.o</code> by default).

<p>Actually before compilation the C-compiler first applies the
<em>C-preprocessor</em> to the source code. C-preprocessor is a
macro-processor used to include files, define macro-definitions and do
other useful tricks.

<h3>
Executable code and linking
</h3>
The <em>executable code</em> is the ready program: the object code of all
functions together with all the necessary library functions and some extra
information needed to run the program. Building the executable code from
the object code (and the libraries) is called <em>linking</em>. Linking
is performed by a linker which is included in the gcc system and is
usually called using the <code>gcc</code> command.
Given the object code, gcc does
linking of the supplied object file(s). For example, the command

<p>
<code>gcc hello.o -o hello -lm</code>
</p>
links the functions in the file "hello.o" and writes the resulting
executable code into file "hello".

Here <code>-o hello</code> means <em>output the resulting executable
code into the file "hello"</em> and <code>-lm</code> means <em>link with <a
href='https://en.wikipedia.org/wiki/C_mathematical_functions#libm'><code>libm</code></a>
math library</em> (in case the program uses math functions). All other
standard libraries are linked by default except for the math library
which has to be linked explicitely (it's historical, like a.out).

<p>
By default
the exectable code is put into a file with the name <code>a.out</code>
(for historical reasons).

<p>
The program can now be run using the command <code>./hello</code> where
<code>./</code> means "the current directory".

<p>If the program is wholly contaned in one <code>.c</code> file, like
<code>hello.c</code>, the <code>gcc</code> can compile and link it in
one go, for example:
<p>
<code>gcc hello.c -o hello</code>
</p>

If the object code of a program is contained in several files, say
<code>math.o</code> and
<code>hello.o</code>, and the program also uses functions from a library, say the
<a href='https://en.wikipedia.org/wiki/C_mathematical_functions#libm'><code>libm</code></a>
mathematical library, you have to link everything together:
<p>
<code>gcc math.o hello.o -o math -lm</code>
</p>

<h3>
The main function
</h3>
The <code>main</code> function must be defined according to one of the
following prototypes:

<pre>
int main() {...} /* no arguments to main */
int main(void) {...} /* no arguments to main */
int main(int argc, char *argv[]) {...} /* arguments in the array-of-arrays argv */
int main(int argc, char **argv) {...} /* the same as above */
</pre>

<p>The main function must return integer zero upon succesful completion.
