<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<a name="printf"></a><h2>All you need to know about <code>printf</code> function</h2>

<ol>
<li>
<p>
Before using <code>printf</code> you need to
<code>#include&lt;stdio.h&gt;</code>.

<li>
<p>
The first argument to <code>printf</code> function is a string of
characters which is called 'format string' or 'template'. If it
is the only argument, this string is simply printed to the standard
output (which by default is your terminal). For example,

<p>
<code>printf("hello\n");</code>
</p>

produces

<pre>
hello
</pre>

where the string <code>\n</code> represents the newline character.


<li>
<p>
Besides the first argument --- the format string --- <code>printf</code>
can have more arguments which then must be the names of the variables
(or expressions) which you want to print out. In this case the
format string must contain placeholders for the arguments to be
printed. The string is then printed with placeholders being replaced by
the values of the given variables (expressions).

<p>By default the first argument after the format
string takes the first placeholder, the second argument after the format
string takes the second placeholder and so on.

<p>
<em>Placeholders must correspond to the types of arguments to
be printed!</em>

<p>We shall mostly print out numbers, therefore
here are the simplest forms of placeholders for numbers,

<ul>
<li>integer: <code>%i</code>
<p>For example
<pre>
int n=123; printf("n = %i, twice n = %i, five times n = %i \n", n, 2*n, 5*n);
</pre>
<p>produces
<pre>
n = 123, twice n = 246, five times n = 615
</pre>

<li>double: <code>%g</code> (actually <code>%lg</code> but <code>%g</code> seems to work somehow)
<p>For example
<pre>
double x=1.23; printf("x = %g, twice x = %g, five times x = %g \n", x, 2*x, 5*x);
</pre>
<p>produces
<pre>x = 1.23, twice x = 2.46, five times x = 6.15
</pre>

<li>long double: <code>%Lg</code>
</ul>


<li>
<p>
The full description of format placeholders can be found
<a href=https://en.wikipedia.org/wiki/Printf_format_string#Format_placeholders>in
wikipedia</a> or in the man pages <code>man 3 printf</code>.


</ol>
