<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Note "structures"</h2>

<p>
Unlike arrays&mdash;which hold values (called elements) of the same type
and refer to them by index&mdash;the structures hold values (called members)
of possibly different types and refer to them by name.

<p>
The structures are declared using the following syntax,

<pre>
struct struct_name {member_type_1 member_name_1; member_type_2 member_name_2; ...}
</pre>

<p>A variable to hold an instance of this structure is declared as

<pre>
struct struct_name variable_name;
</pre>

<p>It can be initialized as

<pre>
struct struct_name variable_name = {value_of_type1, value_of_type_2, ...};
</pre>

or as

<pre>
struct struct_name variable_name = {.member_name_1=value_of_type1, .member_name_2=value_of_type_2, ...};
</pre>

The members are accessed using the dot-notation,
<pre>
variable_name.member_name_1 = value_of_type_1;
</pre>

<p>
To avoid typing <code>struct struct_name</code> all the time one can indroduce a new type,

<pre>
typedef struct struct_name new_type;
new_type variable_name = {value_of_type1, value_of_type_2, ...};
</pre>

<p>
For example,

<pre>
#include<stdio.h>
struct komplex {double re; double im;};
const struct komplex I = {0,1};
typedef struct komplex komplex;
const komplex J = {.re=0,.im=1};
int main(){
	komplex z;
	z.re=1;
	z.im=2;
	printf("z=(%g,%g)\n",z.re,z.im);
	printf("I=(%g,%g)\n",I.re,I.im);
	printf("J=(%g,%g)\n",J.re,J.im);
return 0;
}
</pre>
