<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>
<h3>
Tips on programming and debugging; FAQ
</h3>
Good coding style:
		<ol type="i">

		<li>The code is segmented into small methods/functions
spanning no more than a screenful.

		<li>The names of functions, structures.members, and variables
are meaningful and self-describing.

		<li>The logic of the code is easy to follow and easy to modify (by
somebody else); only a small number of comments are needed in a good code.

		<li>Defensive programming:
<code>#include&lt;assert.h&gt;</code> and use assertions plentifully:
you can easily disable all assertions by simply
recompiling the code with <code>-DNDEBUG</code> c-flag:
<pre>
CFLAGS += -DNDEBUG
</pre>

		</ol>

<dl>

<dt>Reading</dt>

<dd>
<a href="https://www.gnu.org/prep/standards/html_node/Writing-C.html#Writing-C">Making The Best Use of C</a>
</dd>

<dt>Exercises </dt>
<dd>
<ol>
<li><a href="exercise-debug.htm">Problem "debug"</a>.

<li>The "big programming exercise":
	<ul>
<li>Consider the last two digits of your studienummer as
a two-digit decimal number from 00 to 99.
Make the corresponding exercise from <a href=./bigex/sf.pdf>this
list</a>. If your number is larger than the number of
exercises, continue counting from the first exercise.

<li>The target of the exercise should be <code>report.pdf</code> (or simlar)
with your report.  The report should be prepared in LaTeX and should
contain a short description of the problem; the way you have solved it;
and a figure, prepared in gnuplot, to illustrate that the problem
has been solved correctly.

<li><code>make clean</code> should correctly clean the project.
<li><code>make clean; make</code> should correctly rebuild the project.
<li>The project must be built before submission.
	</ul>


</ol>
</dd>

</dl>

