<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>

<h3>
GNU Scientific Library: installation and basic usage
</h3>
<dl>

<dt>
Lecture
</dt>
<dd>
<ol>
<li>GSL installation and basic usage.
<li><code>gsl-config</code> script.
</ol>
</dd>

<dt>
Reading
</dt>
<dd>
	<ol>
<li><a href="https://www.gnu.org/software/gsl/doc/html/index.html">GSL manual</a>
chapters 'Introduction', 'Using the library', 'Vectors and Matrices', and
'Eigensystems/Real Symmetric Matrices'.
	<ol>
</dd>

<dt>
Exercises
</dt>
<dd>
	<ol>
<li> Install GSL on your box. First search for the GSL developement library in you system,

<pre>
apt-cache search libgsl | grep development
</pre>

It should return either <code>libgsl0-dev</code> or
<code>libgls-dev</code>, depending on your system. Install this package,

<pre>
sudo apt-get install libgsl0-dev
</pre>

or

<pre>
sudo apt-get install libgsl-dev
</pre>

The HomeBrew users should (apparently) use the command

<pre>
brew install gsl
</pre>


<p> Alternatively, you can download the source code and build the
library on your box.

<li>
<a href="questions-7.htm">Questions 7</a>.

<li>
<a href="exercise-gsl.htm">Exercise "GSL"</a>.
Hints: <a href="examples/gsl">examples/gsl</a>.

	</ol>
</dd>

</dl>
