<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>
<h3>
GSL: multidimensional minimization (optimization)
</h3>
<dl>

<dt>Reading</dt>

<dd>
	<ol>
<a
href="https://www.gnu.org/software/gsl/doc/html/multimin.html"
>Multi-dimensional minimization</a>
chapter in GSL manual.
	</ol>
</dd>

<dt>                                                                            Exercises
</dt>
<dd>
        <ol>
<li>
<a href="questions-11.htm">Questions 11</a>.

<li>
<a href="exercise-optim.htm">Exercise "optimization"</a>.

        </ol>
</dd>


</dl>
