<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>
<h3>
L<sup>A</sup>T<sub>E</sub>X
</h3>
<dl>

<dt>Reading</dt>

<dd>
	<ol>
<li>Chapters 'Basics', 'Document Structure', and
	'Importing Graphics' in the
<a href="https://en.wikibooks.org/wiki/LaTeX"><i>LaTeX wikibook</i></a>.

<li>Browse through the sections 'Mathematics', 'Advanced
mathematics', 'Floats, Figures and Captions', 'Labels and
Cross-referencing', and 'Bibliography Management/Embedded system' in
the LaTeX wikibook.

	<li>
Learn how to do the following things in LaTeX: math; displayed equation;
floating figures and tables; cross-references; the bibliography.

	</ol>

</dd>

<dt>                                                                            Exercises
</dt>
<dd>
        <ol>
<li>
<a href="questions-12.htm">Questions 12</a>.

<li>Install LaTeX on your system:
		<ol type=i>
		<li>
Debian based systems: install
<a href="https://en.wikipedia.org/wiki/Tex_live">Tex Live</a> distribution with the command

<pre>
sudo apt-get install texlive texlive-latex-extra
</pre>

		<li>MacOS with HomeBrew: install
<a href="https://en.wikipedia.org/wiki/MacTeX">MacTeX</a> distribution.
It seems
that you first need to install
homebrew cask
and then
<pre>
brew cask install mactex
</pre>
or
<pre>
brew cask install basictex # allegedly a small but functional version of MacTeX
</pre>
		</ol>

<li>
<a href="exercise-latex.htm">Exercise "latex"</a>.
        </ol>
</dd>

</dl>

