<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="introduction">
<link rel="stylesheet" type="text/css" href="style.css">
<!--
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
</head>

<a href='.'>&larr;PPNM</a>

<dl>
<dt>Lecture:</dt>
	<dd style='margin:0em'>
	<ol style="list-style-type:upper-roman">
	<li>Introduction;
	<li>UNIX/POSIX systems;
	<li>C programming language;
	<li>Open software.
	</ol>
	</dd>
<dt>Exercises</dt>
	<dd style='margin-left:0em'>
	<ol type="A">

	<li>Learn how to start a terminal in your system. Here is a <a
	href="https://help.ubuntu.com/community/UsingTheTerminal">tutorial
for Ubuntu</a>.

	<li> Read about the <a
	href=https://en.wikipedia.org/wiki/Man_page><code>man</code></a>
	utility. Run <code>man man</code> and
	read the DESCRIPTION of the utility in your
	system. <br>Hints: <code>man</code> usually uses <a
	href="https://en.wikipedia.org/wiki/Less_(Unix)"><code>less</code></a>
	as the default pager; you quit from <code>less</code> by pressing
	the <code>q</code>-key.

	<li>Learn the following commands (file utilities) from 
	the GNU Core Utilities:
	<code>cp</code>,
	<code>ls</code>,
	<code>mkdir</code>,
	<code>mv</code>,
	<code>rm</code>,
	and the bash built-in command <code>cd</code>.
	<br>Hint: type, for example, <code>man
	1 mkdir</code> in your terminal or into Google-search in your browser.

	<li>Read about the
	<a
	href="https://en.wikipedia.org/wiki/Command_line_completion">command-line
	completion</a>.

	<li> Install your favourite text
	editor. If you don't have one, install the <a
	href=https://en.wikipedia.org/wiki/Nano_(text_editor)>Nano text
	editor</a> with the command

	<br>
	<code>sudo apt install nano</code>

	<li>Learn to create, save, and edit text files with your favourite
	text editor.

	<li>Install the GNU C compiler &mdash; gcc &mdash; with the
	command <br><code>sudo apt install build-essential</code>
	<li>Answer <a href='questions-1.htm'>questions 1</a>.  <li>Do
	exercise "<a href='exercise-hello.htm'>hello</a>". See also <a
	href="https://en.wikibooks.org/wiki/C_Programming/Intro_exercise"><i>C
	Programming/Intro exercise</i></a>.

	<br>Hint:
	<a href='examples/hello'>examples/hello</a>.

	<li>Hints

		<ul>

	<li>You quit from <code>man</code> by pressing <code>q</code>.

	<li>Directory abbreviations:
	<table border=1>
	<tr><td><code>~</code>     <td>home directory
	<tr><td><code>..</code>     <td>parent directory
	<tr><td><code>.</code>     <td>current working directory
	<tr><td><code>$HOME</code>     <td>home directory
	</table>
	<li><code>cd -</code> changes into the previous directory.
	
		</ul>
	</ol>
</dd>
</dl>
