<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>
<h3>
GSL: multidimensional root-finding (nonlinear equations)
</h3>
<dl>

<dt>Reading</dt>

<dd>
	<ol>
<a
href="https://www.gnu.org/software/gsl/doc/html/multiroots.html"
>Multi-dimensional root-finding</a>
chapter in GSL manual.
	</ol>
</dd>

<dt>                                                                            Exercises
</dt>
<dd>
        <ol>
<li>
<a href="questions-10.htm">Questions 10</a>.

<li>
<a href="exercise-multiroot.htm">Exercise "multiroot"</a>.

        </ol>
</dd>


</dl>
