<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>

<h3>
GNU Scientific Library: numerical integration
</h3>
<dl>

<dt>
Lecture
</dt>
<dd>
<ol>
<li>GSL: numerical integration.
</ol>
</dd>

<dt>
Reading
</dt>
<dd>
	<ol>
<li>
<a
href="https://www.gnu.org/software/gsl/doc/html/integration.html">Introduction
to numerical integration</a> in GSL manual;
<li>Learn the interfaces to the following structures and functions:
		<ul>

		<li>
<a
href="http://www.gnu.org/software/gsl/manual/html_node/Providing-the-function-to-solve.html#index-gsl_005ffunction"<code>gsl_function</code></a> (providing the function to integrate)

		<li><code>gsl_integration_qag</code> (adaptive Gauss-Kronrod integrator)
		<li><code>gsl_integration_qags</code> (singular integrand)
		<li><code>gsl_integration_qagi</code> (infinite interval)
		<li><code>gsl_integration_qagiu</code> (infinite upper interval)
		<li><code>gsl_integration_qagil</code> (infinite lower interval)
		<li><code>gsl_integration_cquad</code> (new fashionable algorithm)
		</ul>

	<li>Look at the 'Numerical Integration Examples'.

	</ol>
</dd>

<dt>
Exercises
</dt>
<dd>
	<ol>
<li>
<a href="questions-9.htm">Questions 9</a>.

<li>
<a href="exercise-integ.htm">Exercise "integ"</a>.

	</ol>
</dd>

</dl>
