<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>

<h3>
GNU Scientific Library: vectors, matrices, differential equations
</h3>
<dl>

<dt>
Lecture
</dt>
<dd>
<ol>
<li>GSL: vectors, matrices, differential equations.
</ol>
</dd>

<dt>
Reading
</dt>
<dd>
	<ol>
<li><a
href="https://www.gnu.org/software/gsl/doc/html/index.html">GSL manual</a>
chapters 'Vectors and Matrices' and
'Ordinary differential equations'.
	<ol>
</dd>

<dt>
Exercises
</dt>
<dd>
	<ol>
<li>
<a href="questions-8.htm">Questions 8</a>.

<li>
<a href="exercise-orbit.htm">Exercise "orbit"</a>.
Hints: <a href="examples/odeiv-orbit">examples/odeiv-orbit</a>.

	</ol>
</dd>

</dl>
