<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="make">
<link rel="stylesheet" type="text/css" href="style.css">
<!--
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
</head>

<a href='.'>&larr;PPNM</a>

<dl>
<dt>Lecture</dt>
<dd style='margin-left:0em'>
<ol>

<li>Make utility and makefiles;
<li>Structure of a C program;
<li>Compilation and linking;

<li>
C basic
data types: <code>char</code>, <code>int</code>, <code>float</code>,
<code>double</code>, <code>long double</code>, <code>complex</code>;
<li>
Mathematical operators <code>+</code>,<code>-</code>,<code>*</code>,<code>/</code>;
<li>
Simple output with the
<code>printf</code> function;
<li>
C math functions, math library (remember
<code>-lm</code> to link libm); type-generic math <code>tgmath.h</code>.

</ol>
</dd>

<dt>Reading</dt>
<dd style='margin-left:0em'>

<ul>
<li>Note "make"[<a href='note-make.htm'>&rarr;</a>];

<li>Chapter
"Introduction To Makefiles"[<a
href="https://www.gnu.org/software/make/manual/html_node/Introduction.html#Introduction">&rarr;</a>]
in the "GNU make manual";

<li>Note "C-program"[<a href="note-cprog.htm">&rarr;</a>];

<li>Read about C's <a
href="https://en.wikipedia.org/wiki/C_syntax#Floating_point_types">floating
point types</a> and <a
href="https://en.wikipedia.org/wiki/C_mathematical_functions#Complex_numbers">complex
numbers</a>;

<li>Learn arithmetic and compound-assignment
operators from the <a
href="https://en.wikipedia.org/w/index.php?title=Operators_in_C">list of
operators in C and C++</a>;

<li>Read about C mathematical functions (including
type-generic functions) in Wikipedia article <a
href="https://en.wikipedia.org/wiki/C_mathematical_functions">C
mathematical functions</a>;

</ul>
</dd>

<dt>Exercises</dt>
<dd style='margin-left:0em'>

<ol>
<li> Do <a href='exercise-math.htm'>"exercise-math"</a>
	(hint: <a href='examples/digits'>examples/digits</a>).

	<li>Answer <a href="questions-2.htm">questions-2</a>.

<li>Hints:

	<ul style='margin-left:0'>

<li>If you have GNU make version 3.82+ and you don't like your recipies to start with tabulator-sign, you can do
<code>.RECIPEPREFIX := ;</code>.
</pre>

<li>For nano users: you can indicate the invisible tabulator-signs with
a color by adding the following lines to your <code>~/.nanorc</code>,

<pre>
syntax "makefile" "[Mm]akefile"
color white,magenta "	"
</pre>

where the character in between the quotation marks in the second line
should be the tabulator sign and where the colors are free for you
to choose.

	</ul>
</ol>

