<head>                                                                              <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="passfio">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>     

<body>

<dl>
<dt>Lecture</dt>
<dd>
<ol>
<li>Passing functions as arguments;
<li>Simple input and output;
<li>Streams and redirections.
</ol>
</dd>
<dt>Reading</dt>
<dd>
	<ul>
<li><a href=note-passf.htm>Note "passing functions as arguments"</a>.

<li><a href=note-io.htm>Note "input/output"</a>.

<li><a href=note-redirect.htm>Note "redirections and pipes"</a>.


<li>Also
	<ul>

<li>C syntax &rarr; <a
href="https://en.wikipedia.org/wiki/C_syntax#Command-line_arguments">Command-line
arguments</a>.

<li><code>man stdout</code>

<li> <code>man atoi</code> (ascii to integer)
and <code>man atof</code> (ascii
to double).

<li>
<code>man scanf</code>

<li>Unix <a
href="https://en.wikipedia.org/wiki/Redirection_%28computing%29">I/O
redirection</a>.
	</ul>
</dd>
<dt>Exercises</dt>
<dd>
	<ul>
	<li> <a href="questions-5.htm">Questions 5</a>.

	<li> <a href="exercise-nvector.htm">Problems "nvector"</a>.
	Hints:
<a href="examples/nvector">examples/nvector</a>.
	</ul>
</dd>

