<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="pointers">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>

<body> 
<h3> Pointers, arrays, and structs</h3>

<dl>
<dt>Lecture</dt>
<dd>
<ol>
<li>Pointers, arrays and structs in C
</ol>
</dd>
<dt>Reading</dt>
<dd style='margin-left:0'>
	<ul>
<li><a href='note-pointers.htm'>Note "pointers"</a>.
<li><a href='note-arrays.htm'>Note "arrays"</a>.
<li><a href='note-struct.htm'>Note "structures"</a>.
	<li> Also:
		<ul>
		<li><a
href="https://en.wikipedia.org/wiki/Pointer_(computer_programming)">Pointers
in computer programming</a>;

	<li>
C syntax &rarr; <a
href="https://en.wikipedia.org/wiki/C_syntax#Pointers">Pointers</a>;

	<li>
C syntax &rarr; <a
href="https://en.wikipedia.org/wiki/C_syntax#Arrays">Arrays</a>;

	<li>
C syntax &rarr; <a
href="https://en.wikipedia.org/wiki/C_syntax#Structures_and_unions">Structures <strike>and Unions</strike></a>;

	<li>
<a
href="https://en.wikipedia.org/wiki/C_dynamic_memory_allocation">C dynamic
memory allocation</a>.
		</ul>
</dd>

<dt>Exercises</dt>
<dd>
	<li>Answer <a href="questions-4.htm">questions-4</a>.

	<li>Make <a href="exercise-komplex.php">exercise-komplex</a>.
		Hints: <a href="examples/komplex">examples/komplex</a>.

	</ul>
</dl>
</body> 
</html>
