<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="basics">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>

<dl>
<dt>Lecture</dt>
<dd style='margin-left:0em'>
<ol style="list-style-type:upper-roman">

<li>Structure of a C-program;
<li>C-language: conditional statements <code>if</code>, <code>switch</code> and loops <code>while</code>, <code>for</code>,
<code>do-while</code>;
<li>C-language: Scope of variables: file, function, block;
<li>Simple output with <code>printf</code> function.

</ol>
</dd>

<dt>Reading</dt>
<dd style='margin-left:0em'>
<ol>
<li>Note "C-program"[<a href="note-cprog.htm">&rarr;</a>];
<li>Note "scope"[<a href='note-scope.htm'>&rarr;</a>];

	<li>
<a href="https://en.wikipedia.org/wiki/Scope_(computer_science)#Lexical_scoping">Lexical scoping</a>;
<li>Note "printf"[<a href='note-printf.htm'>&rarr;</a>];
<li><a
href="https://en.wikipedia.org/wiki/C_syntax#Control_structures">C
control structures</a>;

	<li><a
href="https://en.wikipedia.org/wiki/C_syntax#Iteration_statements">C iteration
statements</a> (loops);

        <li><a
href="https://en.wikipedia.org/wiki/C_syntax#Selection_statements">C selection statements</a>
(<code>switch</code> is not so important).

	<li>
<a href="https://en.wikipedia.org/wiki/%3F:#C">Ternary conditional operator</a>.

	<li>
	Also read:

		<ul>
	<li>
<a href=https://en.wikipedia.org/wiki/C_syntax#Global_structure>C program: global structure</a>.

	<li>
<a href=https://en.wikipedia.org/wiki/C_preprocessor>Preprocessing</a>,
<a href=https://en.wikipedia.org/wiki/Compiler_(computing)>compiling</a>,
<a href=https://en.wikipedia.org/wiki/Linker_(computing)>linking</a>, and
<a href="https://en.wikipedia.org/wiki/Executable">execution</a> of a C-program;

<li>
<a href=https://en.wikipedia.org/wiki/C_mathematical_functions#Type-generic_functions>Type generic functions</a>;

		</ul>



</ol>
</dd>

<dt>Exercises</dt>
<dd style='margin-left:0em'>
	<ol style="list-style-type:upper-latin">


	<li>(Optional) Install additional man-pages with the command
<p>
<code>sudo apt-get install manpages-posix manpages-posix-dev</code>

	</ul>


<li> Answer <a href='questions-3.htm'>questions-3</a>.

<li>Do <a href="exercise-epsilon.htm">exercise-epsilon</a>. Hint: <a href='examples/epsilon'>examples/epsilon</a>.

<li>Hints:
	<ul style='margin-left:0'>

<li>In bash prompt <code>&uarr;</code> and <code>&darr;</code> keys scroll over the previously issued commands.

<li>In bash prompt <code>!text</code> runs the latest command that
begins with <code>text</code>. Useful for issuing the same command again.

	</ul>

</ol>
</dd>
</dl>
</p>

