<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>
<h3>
Multiprocessing
</h3>
<dl>

<dt>Reading</dt>

<dd>
	<ol>
<li>Note <a href='note-mp.htm'>multiprocessing</a>;
<li><a href='http://en.wikipedia.org/wiki/Open_MP'>Open
Multi-Processing article in Wikipedia</a>;
<li><a href='https://computing.llnl.gov/tutorials/openMP/'>OpenMP
tutorial from llnl.gov</a>;
	</ol>
</dd>

<dt>                                                                            Exercises
</dt>
<dd>
        <ol>
<li>
<a href="questions-mp.htm">Questions "multiprocessing"</a>.

<li>
<a href="exercise-mp.htm">Exercise "multiprocessing"</a>.

        </ol>
</dd>


</dl>

