<head>                                                                              <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="cprep">                                          <link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href='.'>&larr;PPNM</a>
<dl>

<dt>Lecture
</dt>
<dd>
<ol>
<li>C-preprocessor;
<li>Simple printf-debugging (tracing);
<li>Gnuplot;
<li>Distributed version control systems.
</ol>

</dd>

<dt>Reading
</dt>
<dd>
<ol>
<li><a href='note-debug.htm'>Note "printf debugging"</a>.
<li>Also:
		<ul>

<li><a href="https://en.wikibooks.org/wiki/C_Programming/Preprocessor">C
preprocessor</a> &rarr; including files; macro definitions;

<li><a href="https://en.wikipedia.org/wiki/Debugging">Debugging</a>;

<li><a href="http://gnuplot.info/documentation.html">Gnuplot
documentation</a>, the "Plotting" section.

		</ul>

</ol>
</dd>

<dt>Exercises
</dt>
<dd>
<ol>
<li>Go to <a href="http://bitbucket.org">bitbucket.org</a> and get yourself
an account there; create an open source mercurial (or git, if you prefer)
project "pprog" (or any other indicative name); push your files there.

<li> <a href="http://github.com">GitHub</a> is another popular version
control server.

<li>Install Gnuplot on your box:
	<ul>
<li>On MacOS with homebrew you can probably use the command

<pre>
brew install gnuplot
</pre>

For interactive usage include options <code>--with-qt</code> and/or
<code>--with-x11</code>.
</p>

<li>On Debian based systems, like Ubuntu, the command is

<pre>
sudo apt-get --yes install gnuplot
</pre>
	</ul>

<li> <a href="questions-6.htm">Questions 6</a>.

<li> <a href="exercise-io-gnuplot.htm">Problems "io-gnuplot"</a>.
Hints: <a href="examples/io-gnuplot">examples/io-gnuplot</a>.

</ol>
</dd>

</dl>
