<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<h2>Questions 8</h2>

	<ol type="1">

<li>How do you allocate GSL vectors and matrices?
<li>Do you need to manually free the memory allocated for your vectors and matrices?
<li>Which GSL functions can be used to add two gsl-vectors? Hint: there is more than one.
<li>Which GSL functions can be used to multiply a matrix and a vector?
<li>Which GSL functions can be used to add two matrices?
<li>Which GSL functions can be used to multiply two matrices?
<li>How does one solve a system of linear algebraic equations <i>Ax=b</i> with GSL? Name as many options as possible.
<li>What does the function <code>gsl_blas_dgemm</code> do?
<li>After you call the GSL's LU decomposition routine on a matrix, is the matrix preserved or destroyed?
<li>How can you find out the declaration of <code>struct gsl_odeiv2_system</code> ?
	<br>Hints:
		<ul>
<li><code>#include&lt;gsl/gsl_odeiv2.h&gt;</code> and <code>gcc -E</code>;
<li><code>gsl-config --cflags</code> and <code>view</code>.
		</ul>

<li>How can you sort eigenvalues and eigenvectors?
<li>How can you obtain the eigenvector corresponding to, say, the lowest eigenvalue?

	</ol>
