<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h2> Questions 11 </h2>

<ol type=1>

<li>Consider our <a href="lectures/root">lectures/root</a> example
with the root function. How can you find out the declaration of the
<code>gsl_multiroot_fsolver</code> structure which is used in <code>root.c</code>&nbsp;?

<p>Hint (explain): <code>gcc -E -P root.c | grep -B8 'gsl_multiroot_fsolver;'</code>

<li>Find out the declaration of the
<code>gsl_multimin_fminimizer</code> structure.

<li>During the multiroot iteration loop, how can you find out the current
approximation to the root and the values of the to-be-zeroed-functions
at this point?

<li>During the multimin iteration loop, how can you find out the current
approximation to the minimum and the value of the to-be-minimized-function
at this point?

</ol>
