<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h2> Questions mp </h2>

<ol type=1>

<li>What's pthreads? Hint: <code>man pthreads</code>.

<li>Which header files do you have to include in order to use pthreads?
Hint: <code>man pthread_create</code>.

<li>Do you need any CFLAGS to use pthreads?

<li>How do you create a pthread?

<li>What is "thread-safe"? Hint: <code>man pthreads|grep safe</code>.

<li>Is <code>rand</code> thread-safe? Hint: <code>man rand_r</code>.

<li>What happens if you forget to join a joinable thread?
Hint: <code>man pthread_join</code> and read the NOTE.

<li>What's OpenMP?

<li>Does your compiler supports OpenMP?

<li>What are the CFLAGS and LDLIBS for OpenMP?

</ol>
