<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Questions 7</h2>
	<ol>

<li><p>
In gnuplot, how do you specify the ranges on the x- and y- axes?
Hint: in gnuplot: <code>help ranges</code>.

<li><p>
In the data-file for gnuplot, how do you separate data intended for separate lines on the plot?
Hint: in gnuplot: <code>help data</code>.

<li><p>
Suppose you have a data-file with several columns of data. With gnuplot,
how do you plot, say, third column vs. second?
Hint: in gnuplot: <code>help plot using</code>.

<li><p>
Suppose you have a data-file with (x,y) data organised in two columns. How
do you plot, say, y<sup>2</sup> vs. x?
Hint: in gnuplot: <code>help plot using</code>.


<li><p>How can you find out whether GSL is installed on your box?
Hint: <code>gsl-config</code>.

<li><p>How can you find out which C-flags you need to use with your GSL
installation?
Hint: <code>gsl-config</code>.

<li><p>How can you find out which libraries you need to link with your
GSL installation?
Hint: <code>gsl-config</code>.

<li><p>Explain the syntax <code>`command`</code> and
<code>$(command)</code> in bash. Hint:
<a
href="https://www.gnu.org/software/bash/manual/html_node/Command-Substitution.html">Bash
command substitution</a>; <a
href="http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_06_03">POSIX
shell command substitution</a>.

	<li><p>Why do you need double-dollar, <code>$$(command)</code>, in the Makefile? Hint:
<a href="https://www.gnu.org/software/make/manual/html_node/Variables-in-Recipes.html">GNU make: variables in
recipes</a>.

	<li><p>What is "recipe echoing"?

	<li><p>What will the following Makefile print?
<pre>
pwd = a string
test:
	@echo pwd
	@echo `pwd`
	@echo $(pwd)
	@echo $$(pwd)
</pre>

<li><p>
In C-language "type conversion" (or "coersion" or "casting") is allowed
with the explicit cast operator <code>(type)variable</code>. So, what
does the following line mean?

<pre>
double  a = *(double*)params;
</pre>

	</ol>
