<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h2> Questions 9 </h2>

	<ol type="1">

<li>How do you pass your integrand (=&nbsp;the function that is to be
integrated) to <code>gsl_integration_qags</code> rutine?

<li>What are the arguments <code>epsabs</code>, <code>epsrel</code>
and <code>abserr</code> (correspondingly the 4th, 5th and last argument)
of <code>gsl_integration_qags</code> rutine?

<li>What is the return type of <code>gsl_integration_qags</code> and
what does it return?

<li>How does <code>gsl_integration_qags</code> return the calculated
result?

<li>Does <code>gsl_integration_qags</code> estimate the error of the
calculated result?

<li>Suppose you integrand does not take any extra parameters: what do
you do then with the <code>.params</code> member of the corresponding
<code>gsl_function</code> structure?

<li>What is the <code>limit</code> argument (the 4th argument) of the
<code>gsl_integration_qagi</code> rutine?

<li>What is the argument of the
<code>gsl_integration_workspace_alloc</code> function?

<li>Do you need to free any memory having finished with your
<code>gsl_integration_qags</code> integrations?

<li>Suppose your C-function returns an integer value, like
<code>gsl_integration_qags</code> function, which you would normally
call as

<pre>
int status = gsl_integration_qags(arguments);
</pre>
can you call the function simply as
<pre>
gsl_integration_qags(arguments);
</pre>
?

<li>Suppose you need to calculate an integral with a given requirement
to the absolute error, while the relative error is irrelevant. How do you
then set up your accuracy parameters of <code>gsl_integration_qags</code>
routine?

<li>Suppose your integration routine returned the status
<code>GSL_EDIVERGE</code>. What does that mean?

	</ol type="1">
