<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h2> Questions 9 </h2>

	<ol type="1">

<li>In the "article" LaTeX document class, how do you specify the title; author name; abstract?
<li>In the "article" LaTeX document class, how do you format your text in two columns?
<li>How do you start a new paragraph; subsection; section?
<li>How do you write inline math in LaTeX?
<li>What is the environment for displayed equations in LaTeX?
<li>How can you refer to the equation number?
<li>What is the environment for floating figures in LaTeX?
<li>How can you add a caption to your figure?
<li>How can you refer to the figure number?
<li>What is the environment for floating tables in LaTeX?
<li>What is the difference between <code>table</code> and <code>tabular</code> environments?
<li>Do you need any extra package to include figures in PDF format; LaTeX format?

	</ol>
