<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Questions 6</h2>

		<ol>

<li><p>
What is <code>EOF</code> in the context of <code>scanf</code>? <br>Hints:
	<ul>
<li>for linux-based systems: <code>man scanf | grep -A 1 -B 4 EOF</code>;
<li>for all systems: <code>man scanf</code> and search for EOF;
<li>wikipedia article "<a
href="https://en.wikipedia.org/wiki/End-of-file">end of file</a>".

	</ul>

<li><p>What are standard input, standard output and standard error in
the context of POSIX programming? <br> Hints:

	<ul>

<li><code>apropos standard | grep streams</code>;

<li><code>man stdin</code>;

<li>Wikipedia: <a
href="https://en.wikipedia.org/wiki/Standard_streams">standard streams</a>.

	</ul>

	<li><p>Where does the function <code>printf</code> write to?
	<li><p>Where does the function <code>scanf</code> read from?
	<li><p>How do you redirect the standard output of a program to a file?
	<li><p>How do you send the content of a file into a program's standard input?
	<li><p>How do you connect the standard output of a program to the standard input of another program?

	<li><p>What is the meaning of the following makefile variables:
<code>$@</code>,
<code>$&lt;</code>,
<code>$^</code>,
<code>CFLAGS</code>,
<code>LDFLAGS</code>,
<code>LDLIBS</code>.

<br>Hint: GNU make manual:
<a href=https://www.gnu.org/software/make/manual/html_node/Automatic-Variables.html>automatic variables</a>,
<a href=https://www.gnu.org/software/make/manual/html_node/Implicit-Variables.html>implicit variables</a>,
<a href=https://www.gnu.org/software/make/manual/html_node/Catalogue-of-Rules.html>implicit rules</a>.

	<li><p>What will the following makefile print (after running command
<code>make</code>)

<pre>
CFLAGS = -Wall -Ofast -std=c1x
C = F
all:
	echo CFLAGS
	echo $CFLAGS
	echo $(C)FLAGS
	echo $(CFLAGS)
</pre>

	<li><p>Suppose you have your whole C-program in one file <code>main.c</code>.
Which of the following makefiles will compile and link the
program into the executable file <code>main</code>?

			<ol>

<li>
<pre>
all: main
</pre>

<li>
<pre>
main: main.c
</pre>

<li>
<pre>
main: main.o
</pre>

<li>
<pre>
all: main
main: main.o
main.o: main.c
</pre>

<li>
<pre>
all: main
main.o: main.c
main: main.o
</pre>

<li>
<pre>
main.o: main.c
all: main
main: main.o
</pre>

<li>
<pre>
main: main.c
	cc main.c -o main
</pre>

<li>
<pre>
main: main.c
	$(CC) $(CFLAGS) $(LDFLAGS) $^ $(LDLIBS) -o $@
</pre>

<li>
<pre>
all: main
main: main.o
	cc main.o -o main
main.o: main.c
	cc -c main.c -o main.o
</pre>

			</ol>
Remember that the
tabulator-sign before the command may not be copy-pasted correctly.

	<li><p>Suppose your <code>main</code> function,
contained in the file <code>main.c</code>, calls the functions
<code>foo</code> and
<code>bar</code>
which are contained correspondingly in the files 
<code>foo.c</code> and
<code>bar.c</code>.
Which of the following makefiles will correctly compile and link your
program into the executable file <code>main</code> after the command
<code>make</code>?

			<ol>

<li>
<pre>
main: main.o foo.o bar.o
</pre>

<li>
<pre>
main: foo.o main.o bar.o
</pre>

<li>
<pre>
main: foo.o main.o bar.o
	cc foo.o main.o bar.o -o main
</pre>

<li>
<pre>
main: main.o foo.o bar.o
	$(CC) $(LDFLAGS) $^ $(LDLIBS) -o $@
</pre>

<li>
<pre>
main: main.o foo.o bar.o
main.o: main.c
foo.o: foo.c
	cc -c $^ -o $@
bar.o: bar.c
</pre>

<li>
<pre>
main: main.o foo.o bar.o
	cc main.o foo.o bar.o -lm -o main
main.o: main.c
	cc -c main.c
foo.o: foo.c
	cc -c foo.c
bar.o: bar.c
	cc -c bar.c
</pre>

<li>
<pre>
obj = main.o foo.o bar.o
main: $(obj)
</pre>

</ol>

	<li>Suppose there is the following preprocessor directive at the beginning
of the file,
<pre>
#define PI 3.1415927
</pre>
what is the effect of it?
	<ol type="a">
	<li>The compiler creates a variable PI of type double and stores
the value 3.1415927 in it.
	<li>All occurences of the token 'PI' in the file are substituted with the
token '3.1415927'.

			</ol>

		</ol>
