<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h>Questions 4</h>
	<ol>

	<li>How are arguments passed to functions in C:
<i>by-value</i> or <i>by-reference</i>? And what does that mean?
<br>
Hint: C syntax &rarr; <a
href="https://en.wikipedia.org/wiki/C_syntax#Argument_passing">argument
passing</a>.

<li>If <code>double x=1.23</code>, what is <code>*(&amp;x)</code>?

What is <code>NULL</code>? Hint: <a href="https://en.wikipedia.org/wiki/Null_pointer">null pointer</a>.

<li>What happens to variables declared inside a function when the function exits (returns)?

<li>What is a <em>static variable</em>? Hint: <a href="https://en.wikipedia.org/wiki/Static_variable">static variable</a>.

	<li>What will the following three programs print out and why?
<pre>
#include&lt;stdio.h&gt;
void f(int i){i=0;}
int main(){
	int i=1; f(i); printf("i=%i\n",i);
	return 0; }
</pre>

<pre>
#include&lt;stdio.h&gt;
void f(int* i){*i=0;}
int main(){
	int i=1; f(&amp;i); printf("i=%i\n",i);
	return 0; }
</pre>

<pre>
#include&lt;stdio.h&gt;
void f(int* i){i=NULL;}
int main(){
	int i=1; f(&amp;i); printf("i=%i\n",i);
	return 0; }
</pre>

	<li>If you pass an array to a function with the signature
<code>void f(double a[])</code> &ndash;
what is actually passed to the function:
	<ol type="i">
<li>the copy of the array?
<li>the pointer to the first element?
<li>the copy of the pointer to the first element?
<li>something else?
	</ol>

Hint: C syntax &rarr; argument passing &rarr; <a
href="https://en.wikipedia.org/wiki/C_syntax#Array_parameters">array
parameters</a>.

<li>When the function with the signature <code>void f(double a[])</code>
gets the array as parameter &ndash; can it figure out the size of the array?

<!--
	<li>At which stage&mdash;compilation or execution of the
program&mdash;is the memory
for the following arrays allocated? And which of these arrays
"know" their sizes in the scope where they are declared?

<pre>
int a[] = {0,1,2,3,4};
int b[5];
int n = (argc&gt;1 ? atoi(argv[1]):5); /* get n from the argument to the program */
int c[n];
int *d=(int*)malloc(5*sizeof(int));
</pre>	
-->

	<li>If you declare an array as <code>int a[5];</code> and then try
<code>a[7]=1;</code> what will happen? Hint: <a
href="https://en.wikipedia.org/wiki/Segmentation_fault#Causes">Segmentation
fault / causes</a>.

<li>If you declare an i) static, ii) variable-length, iii) dynamic array
inside a function, can the function return it?

<li>What will the following C-program print?
<pre>
#include&lt;stdio.h&gt;
int i=2; /* file scope */
void f(){printf("i=%i\n",i);}
int main(){
	int i=1; /* function scope */
	{
		int i=0; /* block scope */
		printf("i=%i\n",i);
	}
	printf("i=%i\n",i);
	f();
	return 0; }
</pre>

	</ol>
