<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<h2>Questions 1</h2>
<ol>

<li>How do you search your man-pages for a given <em>keyword</em>?
<br>Hint: <code>man man|less +/keyword -j.5</code>

<li>Suppose you need to type the command <code>basename</code>. Which
characters do you need to type in your system before command-line completion
can complete your typing?

<li>
In many systems command-line completion can also complete long options to many
POSIX utilities. Does your shell completes long options?

Suppose you need to type the command <code>mkdir
--parents</code>. Which characters do you need to actually type when
using command-line completion?

	<li>How do you create a folder with a subfolder (say
	<code>prog/hello</code>)? Hint: <code>man mkdir | grep -B1 "make parent"</code>.

	<li>Which option instructs the <code>rm</code> command to ask
	the user for a confirmation before every removal? Hint: <code>man rm|grep "prompt before"</code>.

	<li>Which option instructs the <code>rm</code> command to
	remove a folder with all subfolders?
	Hint: <code>man rm|grep -B1 "remove directories"</code>.

	<li>Which unix command lists the files in a directory in one column
	sorted by modification time with the newest last?

	<li>What do symbols
<code>.</code>,
<code>..</code>,
<code>~</code> mean in the context of the unix file utilities?

	<li>Where will the command <code>cd</code> without any arguments lead you?

	<li>What is your home directory? Name also alternative notations.

	</ol>
