<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h2> Questions 13 </h2>

	<ol type="1">

<li>What is wrong with this makefile rule?
<pre>
plot: plot.data plot.gpi
	gnuplot plot.gpi # produces plot.svf
</pre>

<li>Which recipe will this line in the makefile produce?
<br>Hint: <code>make --print-data-base|grep -B1 -A8 'main:'</code>
<pre>
main: main.c hamilton.c norm.c eigen.c matrix.c vector.c
</pre>

<li>What is wrong with this dependency line?
<pre>
main: main.c hamilton.c norm.c eigen.c matrix.c vector.c
</pre>

	</ol>
