<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Questions 3</h2>
	<ol>

	<li>What is the option that instructs the gcc compiler to print
	out all warnings? <br>Hints:

<br>GCC: run the command <code>gcc --help=warnings | grep -i 'enable.*warning'</code>.

<br>Clang: run the command <code>clang --help | grep -i 'enable.*warning'</code> and try to figure out.

	<li>Name the comparison operators in C.

	<li>Rewrite this piece of code, <code>(a&gt;b?a:b)</code>, using the <code>if</code> statement.

	<li>If you use mathematical functions from <code>complex.h</code>, do you
need to link your program with <code>-lm</code> option?
<br>Hint: <code>man complex|grep '\-lm'</code>.

	<li>What will the following piece of code print?
<pre>
int i=1; printf("%i\n",i); printf("%i\n",i++); printf("%i\n",++i);
</pre>
	Explain.

	<br>How about

<pre>
int i=1; printf("%i %i %i\n",i,i++,++i);
</pre>

Hint:
compile with <code>-Wall</code>.

	<li>Rewrite the loop <code>while(condition)body</code>
using the <code>for</code> loop.

	<li>Rewrite the loop <code>for(init;cond;inc)body</code>
using the <code>while</code> loop.

	<li>Rewrite the loop <code>do body while(condition);</code>
using the <code>for</code> loop.

	<li>Is this a valid C-code?
<pre>
if(0) printf("0 is true\n");
else  printf("0 is false\n");
if(7) printf("7 is true\n");
else  printf("7 is false\n");
</pre>

Hint: Wikipedia &rarr; C syntax &rarr; Selection statements.

	<li>Does C have a boolean type (that is, a type having one of
	the two values, "true" or "false") type?

<br>Hint: Wikipedia &rarr; Boolean data type &rarr;C.

	</ol>
