<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="introduction">
<link rel="stylesheet" type="text/css" href="style.css">
<!--
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
</head>
<a href='.'>&larr;PPNM</a>

<h2>Questions 2</h2>

	<ol start=1>

	<li>What is the <code>main</code> function?

	<li>What is compilation and linking (of a C-program)? What is source
code, object code, executable code?

	<li>
How can you compile and link a C-program which is wholly contained
in one file, say <code>hello.c</code>? How do you run the resulting
executable code?

	<li>How do you supply the compiler with the description of the
<code>printf</code> function? Why do you need to do this? How do you link the <code>printf</code> function?

	<li>What is <code>stdio.h</code>? Why angle-brackets in <code>#include&lt;stdio.h&gt;</code>? Hint:
<a href=https://en.wikipedia.org/wiki/C_preprocessor#Including_files>C preprocessor: including files</a>.

<li>How can you get the manual page of the C standard library
function <code>printf</code>? Hint: there is also a utility
<code>printf</code> in a POSIX system and <code>man printf</code>
will show you the manual page for the printf utility, not the
printf function from the C standard library.

<li>What are the built-in data types for numbers in the C-language?

<li>What is the result of the operation <code>1/2</code> in C?

<li>In order to use the C mathematical functions, do you need to
include any header files? Link any library? Hint: <code>man sin</code>.

<li>What is <code>tgmath.h</code>?  If you use <code>tgmath.h</code> do you need to link any library?

</ol>
