<head>
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h2> Questions 10 </h2>

	<ol type="1">

<li>Where exactly are the files <code>gsl_multimin.h</code> and
<code>gsl_multiroots.h</code> located in your box?

<p>Hint: <code>gsl-config --cflags</code>.

<li>Consider a Makefile,
<pre>
blahblah : data log ; for f in $^; do echo -n $$f:; cat $$f; done
data log : Makefile ; echo $@ &gt; $@
clean    :          ; $(RM) data log
</pre>
What (and why) will it do and what (and why) will it build? Why double
dollars in the first line? Why <code>echo -n</code>&nbsp;?

<li>Suppose you run the command <code>make main</code> and it fails with diagnostics
<pre>
cc     main.c   -o main
main.c:1:19: fatal error: gsl_sf.h: No such file or directory
compilation terminated.
</pre>
Explain the error and how to correct it.
<p>
Hint: clang returns the following diagnostics,
<pre>
clang     main.c   -o main
main.c:1:9: fatal error: 'gsl_sf.h' file not found
#include&lt;gsl_sf.h&gt;
        ^
1 error generated.
</pre>

<li>Suppose you run the command <code>make main</code> and it fails with diagnostics
<pre>
cc     main.c   -o main
/tmp/cce2r3LL.o: In function `main':
main.c:(.text+0x1e): undefined reference to `gsl_sf_gamma'
collect2: error: ld returned 1 exit status
</pre>
Explain the error and how to correct it. Who is <code>ld</code> that returned exit status 1?

<li>Will this definition of <i>f</i> work (and why)?
<pre>
#include"stdio.h"
#include"math.h"
int main(){
	double A=3.5, T=3.2, B=1.2;
	#define f(x) A*exp(-(x)/T)+B
	for(double t=0;t&lt;=5;t+=1) printf("%g %g\n",t,f(t));
return 0;
}
</pre>

<li>Will this definition of <i>f</i> work (and why)?
<pre>
#include"stdio.h"
#include"math.h"
int main(){
	double A=3.5, T=3.2, B=1.2;
	double f(double x){return  A*exp(-x/T)+B;}
	for(double t=0;t&lt;=5;t+=1) printf("%g %g\n",t,f(t));
return 0;
}
</pre>

<li>Will this definition of <i>f</i> work (and why)?
<pre>
#include"stdio.h"
#include"math.h"
#define f(x) A*exp(-(x)/T)+B
int main(){
	double A=3.5, T=3.2, B=1.2;
	for(double t=0;t&lt;=5;t+=0.1) printf("%g %g\n",t,f(t));
return 0;
}
</pre>

<li>Will this definition of <i>f</i> work (and why)?
<pre>
#include"stdio.h"
#include"math.h"
double f(double x){return  A*exp(-x/T)+B;}
int main(){
	double A=3.5, T=3.2, B=1.2;
	for(double t=0;t&lt;=5;t+=1) printf("%g %g\n",t,f(t));
return 0;
}
</pre>

<li>Will this call to print_f_of_one work (and why)?
<pre>
#include"stdio.h"
void print_f_of_one( double (*f)(double) ){printf("%g\n",f(1.0));}
int main(){
	double f(double x){return x+x;}
	print_f_of_one(f);
return 0;
}
</pre>

<li>Will this call to print_f_of_one work (and why)?
<pre>
#include"stdio.h"
void print_f_of_one( double (*f)(double) ){printf("%g\n",f(1.0));}
int main(){
	#define f(x) (x)+(x)
	print_f_of_one(f);
return 0;
}
</pre>

<li>Explain the difference between
<pre>
echo 'gsl-config --libs'
</pre>
and
<pre>
echo `gsl-config --libs`
</pre>

<li> Write a C-program that sends its command-line arguments to the
standard output (that is, emulates the <code>echo</code> unix utility).

	</ol>

