<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<h2>Questions 5</h2>

	<ol>

<li>Will these functions
<a href="https://en.wikipedia.org/wiki/Memory_leak">leak memory</a>?
<pre>
void stat(){
	double a[500];
}

void vla(size_t n){
	double a[n];
}

void mal(){
	double* a=(double*)malloc(500*sizeof(double));
}

void maf(){
	double* a=(double*)malloc(500*sizeof(double));
	free(a);
}

double* mar(){
	double* a=(double*)malloc(500*sizeof(double));
	return a;
}
</pre>

<li>Which lines, if any, of the following program will lead to compilation error? 
<pre>
struct vector {double x,y,z;};
struct vector v = {1,2,3};
struct vector x = {1,2,3};
struct vector a = [1,2,3];
struct vector u = {.x=1,.y=2,.z=3};
struct vector w = {.z=3,.y=2,.x=1};
vector y;
typedef struct vector vector;
vector z;
</pre>

<li>Which of the following Bash commands creates a list of '.c'-files in the
current directory? Hint:
<a
href="https://en.wikipedia.org/wiki/Redirection_%28computing%29#Redirecting_to_and_from_the_standard_file_handles">redirection</a>.
<pre>
ls *.c &gt; cfiles.txt
ls *.c 1&gt; cfiles.txt
ls *.c 2&gt; cfiles.txt
ls *.c &amp;&gt; cfiles.txt
cat /dev/null &gt; cfiles.txt; for i in *.c; do echo $i &gt;&gt; cfiles.txt; done
</pre>

<li>Where does the following
<code>main</code> function get its parameter from?

<pre>
int main(int argc, char* argv[]) { /* do stuff */ }
</pre>

<li>How can you convert a parameter of the <code>main</code> function into
<code>double</code> or <code>int</code> number?

<li>What will the following program print?

<pre>
#include&lt;stdio.h&gt;
#include&lt;stdlib.h&gt;
double* foo(){ static double a[]={0,0,0}; return a; }
int main(){
  double* a=foo(); a[2]=1;
  double* b=foo(); b[2]=2;
  printf("a[2] = %g\n",a[2]);
return EXIT_SUCCESS;}
</pre>

<li>What will the following program print?

<pre>
#include&lt;stdio.h&gt;
#include&lt;stdlib.h&gt;
double* foo(){ double* a=(double*)malloc(3*sizeof(double)); return a; }
int main(){
  double* a=foo(); a[2]=1;
  double* b=foo(); b[2]=2;
  printf("a[2] = %g\n",a[2]);
  free(a);a=NULL;
  free(b);b=NULL;
return EXIT_SUCCESS;}
</pre>

<li>Can a C-structure contain a function? A pointer to a function?

<li>Which of the following lines is the correct declaration and why?

<pre>
struct f { int n; double *f(double); };
struct g { int n; double (*f)(double); };
</pre>

<li>Which of the two declarations is valid?

<pre>
#include&lt;math.h&gt;
double (*f)(double) = sin;
double (*g)(double) = &amp;sin;
</pre>

<li>With "f" from the (valid) declaration above, which of the following statements is valid?

<pre>
double y = f(1);
double y = (*f)(1);
</pre>

<li>What is the return value of the <code>malloc</code> function from <code>stdlib.h</code>?

	</ol>
