<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="minimization exercise">
        <link rel="stylesheet" type="text/css" href="style.css">

</head>

<p><b>Exercise "Artificial Neural Networks"</b>

<ol type=A>

<li><b>(6 points)</b>

<p>In this exercise we construct a simplest artificial neural network
which will be trained to interpolate tabulated functions.

<p>It is an ordinary three-layer neural network with one neuron in the
input layer, several neurons in the hidden layer, and one neuron in the
output layer,</p>

<pre>
                           [hidden neuron]
                          /               \
                         /                 \
                        /                   \
<i>x</i>  ---&gt;[identity neuron]---[hidden neuron]---[summation neuron]---&gt;  <i>y=F(x)</i>
                        \                   /  
                         \                 /  
                          \               /  
                           [hidden neuron]
</pre>

<p>The input neuron is an identity neuron: it simply sends the input,
a real number <i>x</i>, to all hidden neurons.

<p>The output neuron is a summation neuron: it sums the outputs of the
hidden neurons and sends the result to the output.

<p>The hidden neurons are ordinary neurons: the neuron number <i>i</i>
transforms its input signal, <i>x</i>, into the its output signal,
<i>y</i>, as

<p><i>y=f((x-a<sub>i</sub>)/b<sub>i</sub>)*w<sub>i</sub></i>,

<p>where <i>f</i> is the activation function (the same for all hidden
neurons) and where <i>a<sub>i</sub></i>, <i>b<sub>i</sub></i>,
<i>w<sub>i</sub></i> are the parameters of the neuron number <i>i</i>.

<p>The activation function can be
<ul>
<li>a Gaussian wavelet, <i>f(x)=x&times;exp(-x²)</i>,
<li>a Gaussian, <i>f(x)=exp(-x²)</i>,
<li>a wavelet, <i>f(x)=cos(5x)&times;exp(-x²)</i>,
</ul>

or any another suitable function.

<p>The whole network then functions as one big non-linear
multi-parameter function <i>y=F<sub>p</sub>(x)</i>, where
<i>p={a<sub>i</sub>,b<sub>i</sub>,w<sub>i</sub>}<sub>i=1..n</sub></i>
is the set of parameters of the network.

<p>Given the tabulated function,
<i>{x<sub>k</sub>,y<sub>k</sub>}<sub>k=1..N</sub></i>, the training of
the network consists of tuning its parameters to minimize the deviation

<p><i>&delta;(p)=&sum;<sub>k=1..N</sub>(F<sub>p</sub>(x<sub>k</sub>)-y<sub>k</sub>)²</i>,

<p>which amounts to minimization of the deviation
<i>&delta;(p)</i> in the space of the parameters of the network. This
minimization can be done with your own quasi-newton minimization routine
or a minimization routine from GSL.

<p>A C-structure to hold this network could be in the form
<p><code>
typedef struct {int n; double (*f)(double); gsl_vector* data;} ann;
</code>
<p>where <code>n</code> is the number of neurons in the hidden layer,
<code>f</code> is the pointer to the activation function, and
<code>gsl_vector* data</code> keeps the parameters
<i>{a<sub>i</sub>, b<sub>i</sub>, w<sub>i</sub>}<sub>i=1..n</sub></i>.

<p>You should build the following functions,
<pre>
ann* ann_alloc(int number_of_hidden_neurons, double(*activation_function)(double));
void ann_free(ann* network);
double ann_feed_forward(ann* network, double x);
void ann_train(ann* network, gsl_vector* xlist, gsl_vector* ylist);
</pre>

<li><p> (3 points)
Modify the previous exercise such that the network, after training,
could also approximate the derivative and the anti-derivative of the
tabulated function.

<li><p> (1 point)
Implement an artificial neural network that can be trained to approximate
a solution to the differential equation

<p>
&Phi;[y(x)]&equiv;&Phi;(y'',y',y,x)=0,
</p>
(where &Phi; is generally a non-linear function of its arguments)
on an interval <i>[a,b]</i> with the boundary condition at a given point 'c',
<p>
y(c)=y<sub>c</sub>,
y'(c)=y'<sub>c</sub>,
</p>
where c&in;[a,b] and y<sub>c</sub> and y'<sub>c</sub> are given numbers.

<p>The cost function to minimize might be

<p> 
&delta;(p)=&int;<sub>a</sub><sup>b</sup>|&Phi;[F<sub>p</sub>,x]|dx
+|F<sub>p</sub>(c)-y<sub>c</sub>|(b-a)
+|F<sub>p</sub>'(c)-y'<sub>c</sub>|(b-a) .
</p>
or
<p> 
&delta;(p)=&int;<sub>a</sub><sup>b</sup>|&Phi;[F<sub>p</sub>,x]|²dx
+|F<sub>p</sub>(c)-y<sub>c</sub>|²(b-a)
+|F<sub>p</sub>'(c)-y'<sub>c</sub>|²(b-a) .
</p>


<li><p> (alternative 1 point exercise)
Build a network to recognize the 3x5 font digits
<pre>
  x  xxx  xxx  x x  xxx  xxx  xxx  xxx  xxx  xxx
 xx    x    x  x x  x    x      x  x x  x x  x x
  x  xxx  xxx  xxx  xxx  xxx    x  xxx  xxx  x x
  x  x      x    x    x  x x    x  x x    x  x x
  x  xxx  xxx    x  xxx  xxx    x  xxx  xxx  xxx
</pre>
displayed by a dot-matrix-display of a larger size, say, 5x7.

<p>There are then 5x7=35 input neurons, several hidden neurons, and
10 output neurons. Each input neuron gets the brightness of one of the
pixels of the display. The output neurons output the probability that
the display displays the corresponding digit.

<p>The training data might consist of a set of 3x5 digits positioned at
different locations on a 5x7 matrix display, like
<pre>
.....  .....  .x...
.....  ..xxx  xx...
xxx..  ....x  .x...
..x..  ..xxx  .x...
xxx..  ....x  .x...
..x..  ..xxx  .....
xxx..  .....  .....
</pre>

<p>The application data might then be a set of the 3x5 digits positioned
randomly on a 5x7 display where one of the pixels of the display is
randomly distorted.

</ol>
