<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Numeriske Metoder | Numerical Methods">
        <link rel="stylesheet" type="text/css" href="style.css">

</head>

<h3>Exercise Adaptive Integration</h3>
<dl>
<dt>Introduction:
<dd>
<p> In this exercise you have to implement a subroutine which integrates a
given function <i>f(x)</i> from <i>a</i> to <i>b</i> with
the absolute accuracy <code>acc</code> and realtive accuracy
<code>eps</code>. The subroutine should return the estimate of the
integral, <i>Q</i>
such that the following condition is satisfied:

<center>
<pre>|Q-&int;<sub><sub>a</sub></sub><sup><sup>b</sup></sup> f(x)dx| &lt; acc+|Q|*eps
</pre>
</center>

<p>The subroutine might also return the estimate of the error
<center>
<pre>err &asymp; | Q - &int;<sub><sub>a</sub></sub><sup><sup>b</sup></sup> f(x)dx |
</pre>
</center>
In the C language the interface to the subroutine could be
<pre>
double my_integrator(double f(double), double a, double b, double acc, double eps, double *err)
{
	Q = my_estimate_of_the_integral;
	*err = my_estimate_of_the_error; /* should be smaller than acc+|Q|*eps */
	return Q;
}
</pre>

This subroutine returns the estimate of the integral and stores the
estimate of the error in the provided variable <code>double
*err</code>.
<br>
The <code>main</code> function could then call the integrator as
<pre>
double my_function(double x){return x*x;}
int main (void)
{
	double a=0, b=1, err, acc=0.0001, eps=0.0001;
	double Q = my_integrator(my_function, a, b, acc, eps, &amp;err);
	printf("integral=%lg, error=%lg\n",Q,err);
	return 0;
}
</pre>
The gcc compiler actually allows the definition of
<code>my_function</code> inside the <code>main</code> function (a
technique called 'nested functions') where it can inherit all variables
from the main-function scope.

<!--
<p>In C++ language &mdash; in addition to the C-interface where
the user supplies the pointer to their function and the pointer
to their <code>err</code> variable&mdash;one can also use the
<code>std::function</code> object; and pass the <code>err</code> variable
by reference:

<pre>
double my_CXX_integrator(
	std::function&lt;double(double)&gt; f,
	double a, double b, double acc, double eps, double&amp; err)
</pre>

<p>In Java the integrator usually defines a public interface,
<pre>
public static interface integrand{ public double call(double x); }
</pre>
and then the user creates an object which implements this interface and
passes the object as a parameter to the integrator.

<p>In Python one simply passes the function around.

<p>In C&sharp; one can pass a delegate, or an anonymous function, or define an interface like in Java.
-->

<dt><p>Exercises
<dd>
<ol type=A>
<li><p>(6 points) <b>Recursive adaptive integrator</b>

<p> Implement a recursive adaptive integrator that estimates
the integral of a given function <code>f(x)</code> on a given interval
<code>[a,b]</code> with the required absolute, <code>acc</code>, or
relative, <code>eps</code>, accuracy goals.

<p>The integrator has to use a combination of a higher order
quadrature and also an imbedded lower order quadrature to estimate the
local error.

<p>Reuse points!

<p>The integrator has to use either closed quadratures (which use the
end-points and the middle-point of the interval) or open quadratures
(which use neither the end-points nor the middle-point of the
interval).

<p> Test your implementation on some interesting integrals, for example (check the expressions before using),
<pre>
<b><i>&int;</i></b><sub><sub>0</sub></sub><sup><sup>1</sup></sup> dx &radic;(x) = 2/3 ,
<b><i>&int;</i></b><sub><sub>0</sub></sub><sup><sup>1</sup></sup> dx 1/&radic;(x) = 2 ,
<b><i>&int;</i></b><sub><sub>0</sub></sub><sup><sup>1</sup></sup> dx ln(x)/&radic;(x) = -4 .
</pre>

<p> Calculate
<pre>
<b><i>&int;</i></b><sub><sub>0</sub></sub><sup><sup>1</sup></sup>&nbsp;dx&nbsp;4&radic;(1-(1-x)<sup>2</sup>) = <i>&pi;</i>
</pre>
with as many significant digits as you can and count the number of
integrand evaluations.

<li><p>(3 points)
<b>Clenshaw–Curtis variable transformation</b>

<p>Combine your adaptive integrator with the Clenshaw–Curtis variable transformation,
<pre>
&int;<sub><sub>-1</sub></sub><sup><sup>1</sup></sup> f(x)dx = &int;<sub><sub>0</sub></sub><sup><sup>&pi;</sup></sup> f(cos(&theta;))sin&theta;d&theta;  
</pre>
<p>Check whether there is any improvements on integrals with integrable divergencies at the ends of the intervals.

<p>Compare with library routines.

<li><p>(1 point)
<b>Infinite limits.</b>
<p>Generalize your integrator to accept infinite limits.

<p>An infinite limit integral can be converted by a variable transformation
(see lecture notes) into a finite limit integral, which can then be
evaluated by your ordinary integrator.

<p>In C/C++ infinities are defined in
<code>math.h</code> by macros <code>INFINITY</code> and
<code>&#8209;INFINITY</code> and can be identified by the macro <a
href="http://pubs.opengroup.org/onlinepubs/9699919799/functions/isinf.html"><code>isinf</code></a>.
You might need to use the <pre>-std=c99</pre> switch.

<p> In Python3 <code>import math</code> and you will have <code>math.inf</code>.

<p>Test your implementation on some (converging) infitine limit integrals
and note the number of integrand evaluations.

Compare with library routines (for example, gsl_integration_qags).


<!--
<b>Compare your integrator with your ODE driver.</b>
<p> A definite integral,
<pre>
<i>Q=&int;<sub><sub>a</sub></sub><sup><sup>b</sup></sup>f(x)dx ,
</i></pre>
can be
reformulated as an initial-value ordinary differential equation problem,
<pre>
<i>y'=f(x), y(a)=0, Q=y(b)</i>,
</pre>
which can be solved with your adaptive ODE
solver.
<p>Pick an interesing <i>f(x)</i> and compare the effectiveness of
your ODE drivers with your adaptive integrators.
-->

</li>

<!--
<li>(0 points)

<li><p>(0 point) Singular integrands

	<ul>

<li>Devise a quadrature which can integrate exactly
<i>1/&radic;x</i> and/or <i>log(x)</i> etc.

<li>Implement an adaptive integrator which generally uses closed
quadrature but switches to this quadrature in the vicinity of a detected
singularity.

<li>Calculate
<code>
<b><i>&int;</i></b><sub><sub>0</sub></sub><sup><sup>1</sup></sup>
&nbsp;dx&nbsp;(<sup>ln(x)</sup><i>/</i><sub>&radic;(x)</sub>) = -4
</code>
with <code>acc=eps=0.001</code> and estimate the number of integrand
evaluations with you open-adaptive integrator from exercise A and the
present integrator.

<li>Compare with library routines (for example, gsl_integration_qags).

	</ul>
-->

</ol>
