<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>Exercise "matrix diagonalization"</title>
</head>

<p><strong>Exercise "matrix diagonalization"</strong>
<p><strong>Objective</strong>
<p>Implement the Jacobi eigenvalue algorithm.

<p>Hints: 
	<ul>
<li>
the total number of CPU-seconds used by a program
<code>my_prog</code> can be determined by the POSIX <code>time</code>
utility.

The command
<pre>
\time --format "%U" --append --output time.txt ./my_prog &gt; /dev/null 
</pre>
or, in short
<pre>
\time -f "%U" -ao time.txt ./my_prog &gt; /dev/null 
</pre>
runs the program (disregarding the standard output) and appends the
number of consumed CPU-seconds to the file <code>time.txt</code>.

Without the <code>--append</code> option (or, in short, <code>-a</code>)
the file <code>time.txt</code> gets overwritten. Backslash here is
needed to run the actual utility rather than built-in bash command (with
similar possibilities, actually).

<p>An example of the usage of <code>time</code> can be found <a
href=http://owww.phys.au.dk/~fedorov/numeric/c/fft/>here</a> (see the
makefile).
	</ul>

<p><strong>Tasks</strong>
<ol type=A>
<li> (6 points) <b>Jacobi diagonalization with cyclic sweeps</b>

<p>Implement the Jacobi eigenvalue algorithm for real symmetric matrices
using the cyclic sweeps: eliminate the off-diagonal elements in
a predefined sequence which spans all off-diagonal elements, for example
row after row, and repeat the sweeps until converged. The convergence
criterion could be that the eigenvalues did not change after a whole
sweep.

<p>Prove that your implementation works as intended: generate
a random symmetric matrix A, apply your routine to perform the
eigenvaluedecomposition, A=VDV<sup>T</sup> (where V is the orthogonal
matrix of eigenvectors and D is the diagonal matrix with the corresponding
eigenvalues), and check that V<sup>T</sup>AV==D.

<p>Check that the number of operations for matrix diagonalization scales
as <i>O(n³)</i> (by measuring the time it takes to diagonalize a random
matrix of size <i>n</i>).

<p>Hints:
	<ul>
<li>Typically one stores the diagonal elements of the matrix in a separate
vector and only updates the strict upper triangular part of the matrix.
The user can then always restore their symmetric matrix from the remaining
lower triangle.
	</ul>

<li><p> (3 points) <b>Jacobi diagonalization eigenvalue-by-eigenvalue</b>

<ol>


<li>Implement a variant of Jacobi diagonalization algorithm
which calculates the given number of lowest eigenvalues:

		<ol type="a">

<li><p> Eliminate the off-diagonal elements in the first row only (by running
the sweeps not over the whole matrix, but only over the first row until
the off-diagonal elements of the first row are all zeroed). Argue,
that the corresponding diagonal element is the lowest
eigenvalue.

<li><p> If needed, eliminate the off-diagonal elements in the second row. Argue,
that the eliminated elements in the first row will not be affected
and can therefore be omitted from the elimination loop. Argue that the
corresponding diagonal element is the second lowest eigenvalue.

<li><p> If needed, continue elimination of the subsequent rows (omitting the
operations with the already eliminated rows!) until the given
number of the lowest eigenvalues is calculated.

		</ol>

<li>Find out how to change the formulas for the rotation angle
to obtain the largest eigenvalues instead of the lowest.

<li>Compare the number of rotations (and/or time) it takes to diagonalize
a matrix with the cyclic method with the number of rotations
(and/or time) it takes to calculate only the lowest eigenvalue of the same
matrix with the value-by-value method.

<li>Compare the effectiveness of the <em>cyclic</em> and the
<em>value-by-value</em> implementations by comparing the number of
rotations (and/or time) needed to fully diagonalize a matrix

</ol>

<li><p>(1 point) <b>Classic Jacobi eigenvalue algorithm</b>

<p>In the classic Jacobi eigenvalue algorithm
one searches for the largest off-diagonal element and
eliminates it.
Unfortunately, the search for the largest element is O(n²)
process which is not effective if implemented directly. Instead, in the
beginning one creates an array with indices of the largest elements in
each row and then, after each rotation, only updates the indices of the
affected rows.

<p>A possible algorithm might look like this,
<pre>
create array of indices of largest elements in rows;
do :
   for each row :
      eliminate the largest element of the row by Jacobi transformation;
      update the array of indices for the affected rows;
until converged.
</pre>

<p>Find out whether this gives any improvements in i) the number of rotations, ii) the run-time.

</ol>
