<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Numeriske Metoder | Numerical Methods">
        <link rel="stylesheet" type="text/css" href="style.css">

</head>

<p><h3>Ordinary least-squares fit</h3>

<ol type=A>
<li> (6 points) <b>Ordinary least-squares fit by QR-decomposition</b>
		<ol>
<li><p>Implement a function that makes a least-squares
fit&mdash;using your QR-decomposition routines&mdash;of
a given data-set, <i>{x<sub>i</sub>, y<sub>i</sub>,
&delta;y<sub>i</sub>}<sub>i=1...n</sub></i>&nbsp;, with a linear
combination <i>F(x)&doteq;&sum;&nbsp;<sub><sub>k=1..m</sub></sub>
c<sub>k</sub> f<sub>k</sub>(x)</i> of given functions
<i>f<sub>k</sub>(x)|<sub>k=1..m</sub></i>&nbsp;.

<p>The parameters to the function should be the data to fit,
{x<sub>i</sub>, y<sub>i</sub>, &delta;y<sub>i</sub>}, and the set of
functions, {f<sub>k</sub>}, the linear combination of which should fit
the data. The function must calculate the vector of the coefficients,
{<i>c<sub>k</sub></i>}.

<li><p> Fit the following data,
<pre>
x  =     0.1    1.33    2.55    3.78       5    6.22    7.45    8.68     9.9
y  =   -15.3    0.32    2.45    2.75    2.27    1.35   0.157   -1.23   -2.75
dy =    1.04   0.594   0.983   0.998    1.11   0.398   0.535   0.968   0.478
</pre>
with the linear combination of functions <code>{log(x), 1, x}</code>.

	</ol>

<p>Hint: the set of fitting functions <i>{f<sub>k</sub>(x)}</i> can be
implemented, e.g., as

		<ul>

<li><p>a function of two parameters (C,Fortran,C++,Python):
<pre>
double fitfunctions(int i, double x){return f<sub>i</sub>(x);}
</pre>
For example:
<pre>
#include&lt;math.h&gt; /* NAN is here */
double funs(int i, double x){
   switch(i){
   case 0: return log(x); break;
   case 1: return 1.0;   break;
   case 2: return x;     break;
   default: {fprintf(stderr,"funs: wrong i:%d",i); return NAN;}
   }
}
</pre>

<li><p>a vector of functions (C++11):
<pre>
std::vector&lt;std::function&lt;double(double)&gt;&gt; fitfunctions = {f<sub>1</sub>,...,f<sub>m</sub>};
</pre>

<li><p>a list of functions (Python):
<pre>
fitfunctions = [f<sub>1</sub>,...,f<sub>m</sub>]
</pre>

		</ul>

<li><p>(3 points) <b>Uncertainties of the fitting coefficients</b>

	<ul>
<li><p>Modify you least-squares fitting function such that it also
calculates the covariance matrix and the uncertainties of the fitting
coefficients.

<li><p>Make up some interesting fits and check that the reported uncertainties
of the fitting coefficients are reasonable. For <a
href="examples/python/least.squares">example</a>,
<p>
<img
src="examples/python/least.squares/plot.svg">
	</ul>
</li>

<li><p> (1 points) <b>Ordinary least-squares solution by thin singular-value
decomposition</b>

	<ol>
<li>Implement a function that makes a singular value decomposition of a
(tall) matrix A by diagonalising A<sup>T</sup>A (with your implementation
of the Jacobi eigenvalue algorithm), A<sup>T</sup>A=VDV<sup>T</sup>
(where D is a diagonal matrix with eigenvalues of A<sup>T</sup>A
and V is the matrix of the corresponding eigenvectors) and then
using A=U&Sigma;V<sup>T</sup> where U=AVD<sup>-1/2</sup> and
&Sigma;=D<sup>1/2</sup>.

<li>Implement a function that solves the linear least squares problem
Ax=b using your implementation of singular-value decomposition.

<li>Implement a function that makes ordinary least-squares fit using
your implementation of singular-value decomposition.

	</ol>

</ol>
