<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Numeriske Metoder | Numerical Methods">
        <link rel="stylesheet" type="text/css" href="style.css">

</head>

<h3>Exercise "Monte Carlo integration"</h3>
<ol type=A>

<li><p>(6 points)
<b>Plain Monte Carlo integration</b>
<ul>
<li> Implement plain Monte Carlo multi-dimensional integration, e.g. along the
following lines:
<br><textarea rows="11" cols="80">function plainmc(f, a, b, N){
   var randomx = function(a,b) [a[i]+Math.random()*(b[i]-a[i]) for (i in a)];
   var volume=1; for(var i in a) volume*=b[i]-a[i];
   var sum=0,sum2=0;
   for(var i=0;i<N;i++){var fx=f(randomx(a,b)); sum += fx; sum2 += fx*fx}
   var mean = sum/N;                             // <f_i>
   var sigma = Math.sqrt(sum2/N - mean*mean);    // sigma² = <(f_i)²> - <f_i>²
   var SIGMA = sigma/Math.sqrt(N);               // SIGMA² = <Q²> - <Q>²
   return [mean*volume, SIGMA*volume];
}
</textarea>
<li> Calculate some interesting integrals with your Monte-Carlo
routine.

<li> Calculate
<pre><i><b>&int;</b><sub><sub>0</sub></sub><sup><sup>&pi;</sup></sup>&nbsp;&nbsp;<sup>dx</sup>/<sub>&pi;</sub>&nbsp;<b>&int;</b><sub><sub>0</sub></sub><sup><sup>&pi;</sup></sup>&nbsp;&nbsp;<sup>dy</sup>/<sub>&pi;</sub>&nbsp;<b>&int;</b><sub><sub>0</sub></sub><sup><sup>&pi;</sup></sup>&nbsp;&nbsp;<sup>dz</sup>/<sub>&pi;</sub>&nbsp;[1-cos(x)cos(y)cos(z)]<sup>-1</sup> =&nbsp;&Gamma;(1/4)<sup>4</sup>/(4&pi;<sup>3</sup>)&nbsp;&asymp;&nbsp;
1.3932039296856768591842462603255
</pre></i></br>

This is a difficult singular integral, do not use it for your tests and error
estimates, use something less sungular.

</ul>

<li><p> (3 points)

<ul>
<li>Check that the error of the plain Monte-Carlo method behaves as
<code>O(1/&radic;N)</code>.
</li>
</ul>

<li><p> (1 point)

<ul>

<li>
Implement recursive stratified sampling.
<!--
Make a routine that integrates a function of two variables,
<code><i>f(x,y)</code></i>, in a two-dimensional area <i>{(x,y):
a&lt;x&lt;b, c(x)&lt;y&lt;d(x)}</i> limited in <i>x</i>-direction by the
lines <i>x=a</i>, <i>x=b</i> and in <i>y</i>-direction by the curves
<i>y=c(x)</i>, <i>y=d(x)</i> by recursively calling your one-dimensional
adaptive integrator,
<br><tt><i>
<big>&int;</big><sub><sub>a</sub></sub><sup><sup>b</sup></sup> dx
<big>&int;</big><sub><sub>c(x)</sub></sub><sup><sup>d(x)</sup></sup> dy
f(x,y) =
<big>&int;</big><sub><sub>a</sub></sub><sup><sup>b</sup></sup> dx
F(x) ,
</tt></i><br>
where
<br><tt><i>
F(x) = 
<big>&int;</big><sub><sub>c(x)</sub></sub><sup><sup>d(x)</sup></sup> dy
f(x,y) .
</tt></i><br>
-->
</li>

</ul>

<!--
<li><p> (0 points)

	<ul>
<li> Implement an adaptive one-dimensional integrator with random
abscissas.  Compare with your ordinary adaptive integrator. Try
Clenshaw-Curtis variable transformation.
	</ul>
	<ul>

<li>Make a routine that integrates a function of three variables,
<code>f(x,y,z)</code>, in a three-dimensional rectangular area by recursively
calling your one-dimensional adaptive integrator and compare it with
your stratified sampler.

<li>Implement recursive stratified sampling and make some interesting
illustrations.

	</ul>

</ol>
-->

<!--
<hr> <center> <font size=-1>
"<a href=http://www.gnu.org/copyleft>Copyleft</a>"
<a href=http://www.gnu.org/copyleft/gpl.html>&copy</a> 2004-2006
<a href=http://www.ifa.au.dk/~fedorov/>D.V.Fedorov</a>
(fedorov at phys dot au dot dk</a>)
</center> </font>

-->
