<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="ODE">
        <link rel="stylesheet" type="text/css" href="style.css">

</head>


<h3>Exercise ODE</h3>
<ol type=A>

<li> (6 points) <b>Embedded Runge-Kutta ODE integrator</b>

	<ol>

<li><p>Implement an embedded Runge-Kutta stepper <code>rkstepX</code>
(where <code>X</code> describes the order of the imbedded method used, for
example X=12&mdash;"one two", not "twelve"&mdash;for the midpoint-Euler
method) of your choice, which advances the solution to the equation

<p>
<sup><i>d<b>y</b></sup>/<sub>dt</sub> = <b>f</b>(t,<b>y</b>)</i>
</p>
(where <i><b>y</b></i> and <i><b>f</b></i> are vectors) by a given step <code>h</code>,
and estimates the error.

<p>The interface could be like this,

<p><pre>
void rkstepX(
	double t,                                  /* the current value of the variable */
	double h,                                  /* the step to be taken */
	vector* yt,                                /* the current value y(t) of the sought function */
	void f(double t, vector* y, vector* dydt), /* the right-hand-side, dydt = f(t,y) */
	vector* yth,                               /* output: y(t+h) */
	vector* err                                /* output: error estimate dy */
)
</pre>

<p>The function <code>rkstepX</code> has to estimate the values
<code>y<sub>k</sub>(t+h)</code> and store them in the array
<code>vector*yh</code> and also estimate the errors
<code>&delta;y<sub>k</sub></code>
and store them in the array <code>vector*err</code>.

<li><p> Implement an adaptive-step-size driver routine wchich
advances the solution from the given value of <i>t</i> to <i>t=b</i> (by calling
your <code>rkstepX</code> routine with appropriate step-sizes)
keeping the specified relative, <code>eps</code>, and absolute,
<code>acc</code>, precision.

<p>The interface could be like this,

<p><pre>void driver(
	double* t,                             /* the current value of the variable */
	double b,                              /* the end-point of the integration */
	double* h,                             /* the current step-size */
	vector*yt,                             /* the current y(t) */
	double acc,                            /* absolute accuracy goal */
	double eps,                            /* relative accuracy goal */
	void stepper(                          /* the stepper function to be used */
		double t, double h, vector*yt,
		void f(double t,vector*y,vector*dydt),
		vector*yth, vector*err
		),
	void f(double t,double*y,double*dydt), /* right-hand-side */
)
</pre>

In the beginning
	<ul>
<li><code>double*t </code> contains the startpoint <i>a</i>;
<li><code>double*h </code> contains an estimate of the initial stepsize;
<li><code>double*yt</code> contains <i><b>y</b>(a)</i>.
	</ul>

In the end
	<ul>
<li><code>double*t </code> equals the endpoint <i>b</i>;
<li><code>double*h </code> contains the last accepted stepsize;
<li><code>double*yt</code> contains <i><b>y</b>(b)</i>.
	</ul>

<li><p> Demonstrate that your routines work as intended by solving some
interesting systems of ordinary differential equations.

	</ol>

<li> (3 points) <b>Storing the path</b>

<p>Modify your driver such that it stores the points
<code>{t<sub>i</sub>,y<sub>1</sub>(t<sub>i</sub>),...,y<sub>n</sub>(t<sub>i</sub>)}</code>
it calculated along the way in, for example, a matrix
<code>[<b>t</b>,<b>y</b><sub>1</sub>,<b>y</b><sub>2</sub>,...,<b>y</b><sub>n</sub>]</code>
provided by the user (or in any other convenient object).

<!--
<li> (1 points) <b>Non-embedded Runge-Kutta stepper with Runge's error
estimate</b>

<p>Use the same driver as in part-A/B, but implement a new stepper that
uses the higher-order method from part-A/B and estimates the error using
the Runge's principle (making a full step and two half-steps).

<p>Compare it with the your embedded method from exercise-A.
Comparing here means counting the number of right-hand-side evaluations
each of the methods used to achieve the same tolerance. The method with
fewest evaluations wins.  (Of course if the routine failed to reach the
given tolerance, it is a failure: ikke bestået.)

<li><p>
Compare your implementations with your favourite library routines.
</li>
-->

<li> (1 point) <b>A definite integral as an ODE</b>

<p>A definite integral
<pre>
<i>I = &int;<sub><sub>a</sub></sub><sup><sup>b</sup></sup>f(x)dx</i>
</pre>
can be
reformulated as an ODE with initial condition,
<pre>
<i>y'=f(x), y(a)=0 : I = y(b)</i>,
</pre>
which can be
solved with your adaptive ODE solver.

<p> Implement this idea in a subroutine which calculates definite
integrals based on your ODE routine (to be later compared with
your dedicated adaptive integrators).

<p> Calculate some interesting integrals.

</ol>
