<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="minimization exercise">
        <link rel="stylesheet" type="text/css" href="style.css">

</head>

<p><b>Exercise "Minimization"</b>


<ol type=A>

<li><p> (6 points)

<p>Implement the Newton's minimization method with back-tracking
line-search where the user provides the first and second derivatives
(the gradient and the Hessian matrix) of the objective function.

<p>The interface to the function could be like this,
<pre>
void newton(
double f(vector* x, vector* df, matrix* H), /* f: objective function, df: gradient, H: Hessian matrix H*/
vector* xstart, /* starting point, becomes the latest approximation to the root on exit */
double eps /* accuracy goal, on exit |gradient|&lt;eps */
)
</pre>

<p> Find the minima of the <a href="https://en.wikipedia.org/wiki/Rosenbrock_function">Rosenbrock's valley function</a>,
<code>f(x,y)=(1-x)<sup>2</sup>+100(y-x<sup>2</sup>)<sup>2</sup>.</code>

<p> Find the minima of the <a href="https://en.wikipedia.org/wiki/Himmelblau%27s_function">Himmelblau's function</a>,
<code>f(x,y)=(x<sup>2</sup>+y-11)<sup>2</sup>+(x+y<sup>2</sup>-7)<sup>2</sup>.</code>

<p> Record the number of steps it takes for the algorithm to reach the minimum.

<li><p> (3 points) Quasi-Newton method with Broyden's update.

	<ol type=i>

<li><p>Implement the quasi-Newton minimization method with the Broyden's
update.  Start with the unity inverse Hessian matrix and then apply the
updates. If the update diverges, reset the inverse Hessian matrix to
unity and continue. You can implement one of the two variants (or both):
i) the user only supplies the function, the gradient must be evaluated
numerically; ii) the user supplies both the function and the gradient.

<li><p> Find the minima of the Rosenbrock valley function and the Himmelblau's function from part&nbsp;(A).

<li><p> Compare the effectiveness (say, the number of steps to reach the minimum) of
	<ul>
<li>your Newton's minimization method with explicit derivatives from part&nbsp;(A),
<li>this quasi-Newton's method,
<li>the root-finding Newton's methods from the root-finding exercise applied
to the "equivalent" problem of finding the root of the gradient of the
objective function.
	</ul>

<li><p>Apply your implementation to the following non-linear lieast-squares fitting problem:

	<ul>

    <li><p>Suppose that an experiment on measuring the activity
    of a radioactive substance as function of time gives
    the following result
<pre>
# t<sub>i</sub>,  y<sub>i</sub>,   &sigma;<sub>i</sub>
0.23  4.64  0.42
1.29  3.37  0.37
2.35  3.00  0.34
3.41  2.55  0.31
4.47  2.29  0.29
5.53  1.66  0.27
6.59  1.58  0.26
7.65  1.69  0.25
8.71  1.37  0.24
9.77  1.45  0.24
</pre>
or
<pre>
double t[] = {0.23,1.29,2.35,3.41,4.47,5.53,6.59,7.65,8.71,9.77};
double y[] = {4.64,3.38,3.01,2.55,2.29,1.67,1.59,1.69,1.38,1.46};
double e[] = {0.42,0.37,0.34,0.31,0.29,0.27,0.26,0.25,0.24,0.24};
int N = sizeof(t)/sizeof(t[0]);
</pre>
where the time t<sub>i</sub>, activity y<sub>i</sub>, and the experimental uncertainty &sigma;<sub>i</sub>
are given in some rescaled units.
    <li><p>Fit the function <i>f(t)=A*exp(-t/T)+B</i>
&mdash;where
<i>A</i> (initial amount),
<i>T</i> (lifetime), and
<i>B</i> (background noise)
are the fitting parameters&mdash;to the data and determine the
lifetime, T, of the substance.

    <li><p>The (master) function to minimize is
<code>F(A,T,B)=&sum;<sub><sub>i</sub></sub>(f(t<sub>i</sub>)-y<sub>i</sub>)²/&sigma;<sub>i</sub>²</code>. That is, you have
a three-dimensional
minimization problem in the space of the parameters <i>A</i>, <i>T</i>, and
<i>B</i>.
    <li>Plot the experimental data and the fitting function.

	</ul>

	</ol>


<li><p> (1 point) Downhill Simplex Method
<p>Implement the downhill simplex method.
<p>Apply it to the minimization problems above (Rosnebrock's, Himmelblau's, non-linear least-squares fit).


</ol>
