<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">

</head>

<p><b>Exercise "Root Finding"</b>
<ol type=A>

<li> (6 points)
<b>Newton's method with analytic Jacobian and back-tracking linesearch</b>

	<ol style=padding-left:1em>

<li><p>Implement the Newton's method with simple backtracking
linesearch algorithm where the derivatives in
the Jacobian matrix are provided by the user.

<p>The interface to the function could be something like

<pre>
void newton_with_jacobian(
	void f(const vector* x, vector* fx, matrix* J),
	vector x,
	double epsilon
);
</pre>
where the parameters are:
	<ul>
<li>function f: takes the input vector x, calculates analytically the vector f(x)
and the Jacobian matrix of derivatives and puts them it into vector fx
and matrix J;

<li>vector x: on input contains the starting point, on output becomes
the latest approximation to the root;
<li>double epsilon: the accuracy goal.

	</ul>
<p>An obvious convergence criterion is
<i>&Vert;<b>f</b>(<b>x</b>)&Vert;&lt;&epsilon;</i>.
</p>

<p>You should use your own routines for solving linear systems, but you
may use BLAS routines for 'elementary' matrix/vector operations.

<li><p> Solve the system of equations
<pre>
A*x*y = 1 ,<br>
exp(-x) + exp(-y) = 1 + 1/A,
</pre>
where A=10000.

<li><p> Find the minimum of the
<a href="https://en.wikipedia.org/wiki/Rosenbrock_function">Rosenbrock's valley function</a>,
<pre>
f(x,y) = (1-x)<sup>2</sup>+100(y-x<sup>2</sup>)<sup>2</sup>
</pre>
by searching for the roots of its gradient.

<li><p> Find the minimum of the
<a href="https://en.wikipedia.org/wiki/Himmelblau%27s_function">Himmelblau's function</a>
<pre>
f(x,y) = (x<sup>2</sup>+y-11)<sup>2</sup>+(x+y<sup>2</sup>-7)<sup>2</sup>
</pre>
by searching for the roots of its gradient.

	</ol>

<li><p> (3 points)
<b>Newton's method with back-tracking linesearch and numerical Jacobian</b>

	<ol style=padding-left:1em>

<li>Implement the version of the Newton's method with back-tracking where
the Jacobian matrix of the derivatives is
evaluated numerically.
The interface could be like this,

<pre>
void newton(
	void f(const vector* x, vector* fx),
	vector* x,
	double dx,
	double epsilon
);
</pre>

where dx is the value of finite difference to be used in numerical
evaluation of the Jacobian it should be smaller than the typical interval
where the function changes appreciably but probably not smaller than
square root of machine epsilon.

One should 
stop iterations if the step-size becomes smaller than the dx
parameter.

<li>Solve the same systems as in the "A"-sub-exercise and compare the
number of steps (and the number of function calls) the two routines take
to find the root.

<li>Also compare the number of steps your root-finder takes with that of
a GSL-root-finder (or any other library routine you can find).
	</ol>

<li><p> (1 point) <b>Newton's method with refined linesearch</b>

<p>Implement a more refined linear search with, say, quadratic interpolation.

<p>Compare the number of steps and the number of function calls
for the refined linear search and the simple backtracking.

</ol>
