<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Numeriske Metoder | Numerical Methods">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<title>Numeriske metoder / Numerical Methods</title>
<body>
<span style="font-size: x-small;">
/ <a href="//au.dk">Aarhus University</a>
/ <a href="//phys.au.dk">Physics</a>
/ <a href="//phys.au.dk/forskning/forskningsomraader/subatomic-physics/">Subatomic Physics</a>
/ <a href="//phys.au.dk/forskning/forskningsomraader/subatomic-physics/theory">Nuclear Theory</a>
&gt;</span>
<center>
<hr>
<div style="font-variant: small-caps; font-size: medium; background-color: white;">
Practical Programming
[<a href="../">&rarr;</a>]
and
Numerical methods 2019
</div>
<hr>
<div style="font-size: small">
old homepages: [
<a href=http://phys.au.dk/~fedorov/backup/numeric/>Numerical methods 2018</a>
]
</div>
<hr>
[
<a href=#weekly>weekly notes</a>
|
<a href=#exercises>exercises</a>
|
<a href=examples>examples</a>
|
<a href=ex-exam.php>examination problems</a>
]
<hr>

<!--
<hr>
[
<a href="http://phys.au.dk/~fedorov/Numeric/now">2016 home-page</a>
|
<a href="../numex/">examples</a>
|
<a href="http://owww.phys.au.dk/~fedorov/numeric/">old examples</a>
| <a href="pmwiki">Wiki</a>
]
-->
</center>
<dl>
  <dt><p><strong>NB (reversed time ordering):</strong></dt>
	<dd>
	<ul>
<li><p>
(5/6) 
Here is the
<a href=ex-exam.php>list of examination exercises</a> (where
indexing starts with zero). You find your exercise using the following
algorithm: take the last two digits of your student-number and interpret
it as a two-digit number, X; now the index of your exercise is (X <a
href="https://en.wikipedia.org/wiki/Modulo_operation">mod</a> N) where N
is the number of exercises in the list (the index of the last exercise
plus one).

<p>For simplicity there shall be only one actual deadline, 24:00 on
Sunday 30/6, for everybody: you can do your examination exercise at any
time in June.

<p>You still have to upload the file-with-the-link-to-your-repository
to the examination server at the official examination time.

<p>If you feel your assigned exercise is too complicated, you can pick
any exercise from the list for the price of a reduced grade (indicate it
in your report together with what is wrong with the assigned exercise).

<li><p>
(15/5) The official examination will take place from 6/6 09:30 until
7/5 09:30. If you plan to take part in the examination you must during
this period upload a file with the link to your repository to
the examination server.

<p><s>After that you may either take the examination during the same period,
from 6/6 09:30 until 7/5 09:30, or you may take the examination on 26/6
09:30 until 27/6 09:30.</s>
The instructions will be posted here in due time.

<p>You do not need to sign up, just come here
<s>on one of the two dates</s> and follow the instructions.

<p>The examination project must be done in a separated directory
(indicatively called, for example, "exam") in your repository. <s>You have
24 hours for the project.</s>

<li><p>
There will be no teaching Wednesday 15/05.

<li><p>The final grade will be the weighted sum of the grade for the
exercises (70%) and the grade for the examination project (30%).
Under condition that both grades are positive and that the obligatory
exercises for the first part of the course are done satisfactorily.

<li><p>Check that your repository is accessible to everybody.

<li><p>I will browse through one or two of your exercises&mdash;randomly
chosen&mdash;and if I agree with your score, I will accept it.  If there
is something wrong with a randomly chosen exercise, I will seriously
check more exercises and will grade them myself.

<li><p>Check that your row in our spreadsheet is programmed correctly and
that it calculates correctly your score.  The score determines your
grade for the exercises:

<pre>
91% &le; score       - A (12)
81% &le; score &lt; 91% - B (10)
71% &le; score &lt; 81% - C (7)
61% &le; score &lt; 71% - D (4)
51% &le; score &lt; 61% - E (02)
      score &lt; 51% - F (00)
</pre>

<li><p>Remember to provide an "out.txt" or/and a "plot.svg" file which
proves that you have done the exercise satisfactorily. Remember to make
the exercise before submitting.

<li>In the spreadsheet give yourself a character in the range [0:1]
for every sub-exercise that you have done:

<ul>
<li>'0' for a not done sub-exercise;
<li>'1' is for a perfectly completed exercise;
<li>'0.5' for half done exercise...
</ul>

The spreadsheet then multiplies your grades by the weights of the
sub-exercises and adds up to your total accumulation of points.

	</ol>
	</ul>

  <dt><p><strong>Schedule:</strong></dt>
<dd>
<table border='1'>
<tr>
<td>Onsdag</td><td>12 - 15</td>
<td>Auditorium D4
(<a target='_blank' href='http://www.au.dk/da/kort/byg1531.htm'>1531</a>-219)
</td>
<td>uge 5-15, 17-20</td>
</tr>
<tr>
<td>Fredag</td><td>13 - 16</td><td>Auditorium G1
(<a target='_blank' href='http://www.au.dk/da/kort/byg1532.htm'>1532</a>-116)
</td><td>uge 5-15, 17-20</td></tr>
</table>
</dd>

<dt><p id="exercises"><strong>Exercises:</strong></dt>
	<dd>
<a style="color:black" href=ex-interp.htm>Interpolation</a>;
<a style="color:black" href=ex-lineq.htm>Linear equations</a>;
<a style="color:black" href=ex-eigen.htm>Eigenvalues</a>;
<a style="color:black" href=ex-leastsq.htm>Least-Squares fit</a>;
<a style="color:black" href=ex-roots.htm>Root finding</a>;
<a style="color:black" href=ex-optim.htm>Minimization</a>;
<a style="color:black" href=ex-odes.htm>ODEs</a>;
<a style="color:black" href=ex-adapt.htm>Adaptive integration</a>;
<a style="color:black" href="ex-montecarlo.htm">Monte Carlo integration</a>;
<a style="color:black" href="ex-ann.htm">Artificial neural networks</a>;
<!--
<a style="color:grey;text-decoration:line-through"
href="ex-smp.php">Symmetric Multi-Processing</a>;
-->
<a style="color:grey;text-decoration:line-through"
href="ex-fft.php">FFT</a>;
	</dd>

<dt><p id="weekly"><strong>Weekly notes:</strong></dt>
<dd> <ol>

<!--
<li><p><b>Introduction</b>:
<ul>
<li>Numerical computations in physics;
servers and clusters;
<a href="http://en.wikipedia.org/wiki/POSIX">POSIX</a> systems;
<a href="http://en.wikipedia.org/wiki/Free_software">free software</a>;
programming languages;
programming in POSIX environment; scripts, text editors.

<li>The POSIX
<code><a href="http://en.wikipedia.org/wiki/make_(software)">make</a></code>
utility (<a href="https://www.gnu.org/software/make/manual/">here lies the manual</a>);
<li>
Homework structure: Makefile, main.c, method.c, utils.c &rarr;
output.txt, illustration.png, ... . 
</ul>
</li>
-->

<li><p id=L1><b>Interpolation</b>
[<a  href=book/interpolation.pdf>chapter.pdf</a>]
<ul>

<li>Polynomial interpolation; Spline interpolation: linear, quadratic,
cubic splines, sub-splines: Akima and monotone; Other forms of
interpolation; Multivariate interpolation.

<li>Procedural, object-oriented, and functional programming styles.

</ul>
	</li>

<li><p id=L2><b>Linear equations</b>
[<a  href=book/lineq.pdf>chapter.pdf</a>]
<ul>

<li>Triangular systems, back-substitution, forward-substitution;
<li>QR-decomposition: modified Gram-Schmidt algorithm, Householder reflection algorithm, Givens rotation algorithm;
<li>LU-decomposition: Doolittle algorithm;
<li>Cholesky decomposition;
<li>Determinant of a matrix;
<li>Matrix inverse.

</ul>
	</li>

<li style='color:black'><p id=L3>
<b>Eigenvalues and eigenvectors</b>
[<a href=book/eigen.pdf>chapter.pdf</a>]
<b>(= Eigenvalue decomposition (EVD), = matrix diagonalization)</b>

<ul>
<li>QR/QL algorithm; Jacobi eigenvalue algorithm.
<li>Rank-1 and 2 updates of a symmetric eigenproblem.
<li>Singular value decomposition (SVD) of a matrix.
</ul></li>
</p>

<li style='color:black'><p id=L4><b>Linear least-squares problem</b>
[<a href=book/leastsq.pdf>chapter.pdf</a>]
	<ul>
<li>Least-squares solution with QR-decomposition; ordinary least-squares fit;
fit errors and covariance matrix.
<li>Least-squares solution with singular value decomposition.
	</ul>
</li>
</p>

<li style='color:black'><p id=L5>
<b>Nonlinear equations (root-finding)</b>
[<a href=book/roots.pdf>chapter.pdf</a>]
	<ul>
<li>Modified Newton's method; backtracking line search.
<li>Quasi-Newton's methods: Broyden's and SR1 updates of the Jacobian matrix.
	</ul>
</p></li>

<li style='color:black' id=L6><p><b>Multidimensional Minimization</b>
[<a href=book/optim.pdf>chapter.pdf</a>]
<ul>
<li>Newton's method; Quasi-Newton's methods: Broyden's and SR1 updates.
<li>Downhill simplex method.
<li>Stochastic algorithms: simulated annealing; quantum annealing.
<li>Evolutionary algorithms: genetic algorithm.
</ul>
</p>
</li>

<li style='color:black' id=ode><p><b>Ordinary differential equations</b>
[<a href=book/odes.pdf>chapter.pdf</a>]
<ul>
<li>One-step (Runge-Kutta) methods; multi-step and predictor-corrector methods;
<li>Error estimates; adaptive step-size strategy.</li>
</ul>
</p>
</li>

<li style='color:black' id=integ>
<p><b>Numerical integration (quadratures)</b>
[<a  href=book/integration.pdf>chapter.pdf</a>]
<ul>
<li>Riemann sums: rectangle and trapezium rules;
<li>Quadratures with equally spaced abscissas (Newton-Cotes);
<li>Adaptive algorithms with equally spaced abscissas;
</ul>
</p>
</li>

<li style='color:black' id=monte>
<p><b>Monte Carlo integration </b>
[<a href=book/montecarlo.pdf>chapter.pdf</a>]
<ul>
<li>Plain Monte Carlo integration; <li>Importance sampling;
Stratified sampling; <li>Quasi-random numbers:
van der Corput and Halton sequences.
</ul>
</p>
</li>

<li style='color:black' id=ANN>
<p><b>
Artificial Neural Networks
</b>
[<a href="https://en.wikibooks.org/wiki/Artificial_Neural_Networks">Wikibook
"Artificial Neural Networks"</a>]
</p>
<ul>
<li>Artificial neurons;
<li>Typical three-layer neural networks; input and output neurons; hidden neurons.
<li>Network training;
</ul>
</li>

<li style='color:black'><p><b>Fast Fourier transform and applications.
</b>
[<a href=book/fft.pdf>chapter.pdf</a>]
<br>
	<ul>
<li>Discrete Fourier Transform and applications;
<li>Fast Fourier Transform: Danielson-Lanczos lemma and Cooley-Tukey algorithm;
	</ul>
</p></li>

<li style='color:black'>
<p><b>Eigenvalues 2: Power methods and Krylov subspace methods</b>
[<a href=book/krylov.pdf>chapter.pdf</a>]
<ul>
<li>Power methods; inverse iteration method.
<li>Arnoldi and Lanczos methods;
<li>GMRES (Generalized Minimum RESidual)
method for solving systems of linear equations.
</ul>
</p>
</li>


<li style='color:grey'>
<p><b>Numerical integration 2</b><br>
<ul>
<li>Quadratures with optimized abscissas (Gauss);
<li>Gauss-Kronrod quadratures.
<li>Variable substitution quadratures.
</ul>
</p>
</li>

<!--
<li style='color:grey'><b>Last bits:</b>
<ul>
<li>More on multi-threading: thread safety.
<li>Calculations of the complex valued special functions.
[
<a href=sfun.png>png</a>,
<a href=sfun.pdf>pdf</a>
]
</ul>

<li style='color:grey' id=SMP><b>Multiprocessing</b>
[<a href=book/omp.pdf>chapter.pdf</a>]
<ul>
<li>
Processes and
threads; multiprocessing and multi-threading; POSIX
threads (pthreads).
<li> <a href='http://en.wikipedia.org/wiki/Open_MP'>Open
Multi-Processing</a> specification (OpenMP, OMP) for multiprocessing in
C/C++ and Fortran:
<ul>
<li> Header file: omp.h; CFLAGS += -fopenmp; LDFLAGS += -lgomp;
<li> <a href='https://computing.llnl.gov/tutorials/openMP/'>OpenMP
tutorial from llnl.gov</a>
<li> parallel work-sharing:
	<ul>
	<li>#pragma omp parallel for
	<li>#pragma omp parallel sections
	</ul>
</ul>
<li> Examples can be found <a href="examples/c/omp"</a>here</a>.
</ul>
</li>
-->

</ol>
 </dd>

  <dt><strong>Literature:</strong></dt>
<dd> D.V.Fedorov, Introduction to Numerical Methods, lecture notes
[<a href=book/main.pdf>1M PDF file</a>].

<!--
A paperback copy can be ordered
<a
href="http://www.lulu.com/shop/dmitri-fedorov/yet-another-introduction-to-numerical-methods/paperback/product-20989517.html">here</a>.
-->

  <dt><strong>Evaluation:</strong></dt>
  <dd>Project and exercises, 7-scale grade.
  </dd>

  <dt><strong>Useful links:</strong></dt>
  <dd>[
<!--
<a href="http://www.tiobe.com/tpci.htm">Language popularity index</a>
| <a href="http://www.chem.au.dk/%7Edb/f9095/f9095.pdf">Fortran95</a>
-->
<a href="http://www.linuxbog.dk/">Linuxbog.dk</a> |
<!--
<a href="http://our-site.dk/service/kurser/C/101/indhold.php">C
programmering</a> | <a href="//netlib.org">Netlib.org</a> |
<a href="//schemers.org">Scheme</a> | <a href="//Haskell.org">Haskell</a>
<a href="http://www.octave.org">Octave</a> |
<a href="//htmlhelp.org">HTMLhelp</a> |
-->
<a href="http://www.gnu.org/software/gsl/">GNU scientific library</a> |

<a href="//shootout.alioth.debian.org/">Computer Language Benchmarks</a>
]
</dd>

<hr> <center> <font size=-1>
"<a href=http://www.gnu.org/copyleft>Copyleft</a>"
<a href=http://www.gnu.org/copyleft/gpl.html>&copy</a> 2004-2009
<a href=http://www.phys.au.dk/~fedorov/>D.V.Fedorov</a>
(fedorov at phys dot au dot dk</a>)
</center> </font>
<script language="javascript">
var tst = function(){
var input = document.getElementById('input');
var value = input.value;
document.getElementById('out').value = Math.sin(value);
}
</script>
x=<input id="input" type="number" size="10" oninput="tst()">
sin(x)=<input id="out" type="number">
<input type="button" value="calculate" onClick="(function(){
var input = document.getElementById('input');
var value = input.value;
document.getElementById('out').value = Math.sin(value);
})()">
</body>
</html>
